body:before {
	content: "xsmall";
	display: none
}

@media (min-width:600px) {
	body:before {
		content: "small"
	}
}

@media (min-width:800px) {
	body:before {
		content: "medium"
	}
}

@media (min-width:1000px) {
	body:before {
		content: "large"
	}
}

@media (min-width:1200px) {
	body:before {
		content: "xlarge"
	}
}

@media (min-width:1550px) {
	body:before {
		content: "xxlarge"
	}
}

@media (min-width:50em) {
	.kj-h-hidden--from-medium {
		display: none!important
	}
}

@media (max-width:49.99em) {
	.kj-h-hidden--until-medium {
		display: none!important
	}
}

@media (max-width:62.49em) {
	.kj-h-hidden--until-large {
		display: none!important
	}
}

.kj-h-unstyled-list {
	list-style-type: none;
	margin: 0;
	padding-left: 0
}

.kj-h-unstyled-button {
	background: 0 0;
	border: 0 none;
	color: inherit;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
	padding: 0;
	text-align: inherit
}

.kj-h-larger-tap-target {
	position: relative
}

.kj-h-larger-tap-target:before {
	content: "";
	cursor: pointer;
	display: block;
	height: 48px;
	left: 50%;
	min-width: 48px;
	position: absolute;
	top: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	width: 100%
}

.kj-h-text-align-center {
	text-align: center
}

.kj-h-text-align-right {
	text-align: right
}

.kj-h-flex-row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row nowrap;
	flex-flow: row nowrap
}

.kj-h-flex-row--center {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center
}

.kj-h-flex {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1
}

@media (max-width:49.99em) {
	.kj-h-has-floating-action {
		padding-bottom: 44px
	}
}

.kj-h-backdrop {
	background: rgba(0, 0, 0, .4);
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0
}

@media screen and (prefers-reduced-motion:reduce) {
	* {
		-webkit-animation: none!important;
		animation: none!important;
		-webkit-transition: none!important;
		transition: none!important
	}
}

.kj-button {
	-webkit-appearance: none;
	background: 0 0;
	border: 0 none;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	font-weight: 500;
	line-height: 1.15;
	-webkit-tap-highlight-color: transparent;
	text-align: center;
	text-decoration: none;
	-webkit-transition: background .15s, color .15s;
	transition: background .15s, color .15s
}

.kj-button--icon {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding: 0
}

.kj-button--primary {
	color: #1967d2
}

.kj-button--primary:focus,
.kj-button--primary:hover {
	color: #185abc
}

.kj-button--secondary {
	color: rgb(var(--PF-color-on-surface))
}

.kj-button--secondary:hover {
	color: #1967d2
}

.kj-button--raised {
	border-radius: 4px;
	font-size: 14px;
	letter-spacing: .25px;
	padding: 10px 24px
}

.kj-button--raised.kj-button--primary {
	background: #1967d2;
	color: #fff
}

.kj-button--raised.kj-button--primary:focus,
.kj-button--raised.kj-button--primary:hover {
	background: #185abc;
	color: #fff
}

.kj-button--raised.kj-button--secondary {
	border: 1px solid #e0e0e0;
	color: #1967d2
}

.kj-button--raised.kj-button--secondary:focus,
.kj-button--raised.kj-button--secondary:hover {
	color: #185abc
}

.kj-button--raised.kj-button--secondary:active {
	background: rgba(25, 103, 210, .1)
}

.kj-link {
	-webkit-appearance: none;
	background: 0 0;
	border: 0 none;
	color: #1967d2;
	display: inline-block;
	font-size: 14px;
	font-weight: 500;
	text-align: center;
	text-decoration: none;
	-webkit-transition: background .15s, color .15s;
	transition: background .15s, color .15s
}

.kj-link:focus,
.kj-link:hover {
	color: #185abc
}

.kj-icon {
	display: inline-block;
	fill: currentColor
}

.kj-heading,
h1 {
	display: block;
	font-weight: 500;
	text-rendering: optimizeLegibility
}

.kj-heading.kj-heading--alpha,
h1 {
	font-size: 24px;
	-webkit-font-smoothing: antialiased;
	letter-spacing: -.17px;
	line-height: 1.16667
}

@media (min-width:50em) {
	.kj-heading.kj-heading--alpha,
	h1 {
		font-size: 32px;
		line-height: 1.4375
	}
}

.kj-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 1;
	-ms-flex: 1 0 auto;
	flex: 1 0 auto;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	height: 100%;
	position: relative
}

.kj-container {
	margin: 0 auto;
	max-width: 1440px;
	padding-left: 15px;
	padding-right: 15px
}

.kj-container--full-width {
	max-width: none
}

.kj-main {
	position: relative
}

.kj-main {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 1;
	-ms-flex: 1 0 auto;
	flex: 1 0 auto;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-flow: column nowrap;
	flex-flow: column nowrap
}

.kj-action-group {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start
}

.kj-action-group__item {
	margin: 0 12px
}

.kj-action-group__item:first-child {
	margin-left: 0
}

.kj-action-group__item:last-child {
	margin-right: 0
}

.kj-autocomplete {
	position: relative
}

.kj-autocomplete__icon {
	fill: #acacac;
	left: 4px;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%)
}

.kj-autocomplete__input {
	padding-left: 30px!important;
	width: 100%
}

.kj-autocomplete__list {
	border: 1px solid #e9e9e9;
	margin-top: 4px;
	position: absolute;
	top: 100%;
	width: 100%;
	z-index: 101
}

.kj-autocomplete__result {
	cursor: pointer;
	font-size: 16px;
	padding: 10px
}

.kj-autocomplete__result:active,
.kj-autocomplete__result:focus,
.kj-autocomplete__result:hover {
	background: #f7f7f7
}

.kj-autocomplete__result--disabled {
	cursor: auto;
	pointer-events: none
}

@media (min-width:50em) {
	.kj-autocomplete__result {
		font-size: 18px
	}
}

.kj-autocomplete__limit-text {
	color: #767676
}

.kj-guided-search {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 1;
	-ms-flex: 1 0 auto;
	flex: 1 0 auto;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding: 15px 30px
}

@media (max-width:49.99em) and (min-height:400px) {
	.kj-guided-search {
		padding-bottom: 59px
	}
}

@media (min-width:50em) {
	.kj-guided-search {
		padding-left: 60px;
		padding-right: 60px
	}
}

.kj-guided-search__wrapper {
	margin: 0 auto auto;
	max-width: 1200px;
	width: 100%
}

@media (min-width:62.5em) {
	.kj-guided-search__wrapper {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-flow: row wrap;
		flex-flow: row wrap
	}
}

.kj-guided-search__progress {
	margin: 0 0 12px;
	padding: 20px 0 15px;
	width: 100%
}

@media (max-width:49.99em) {
	.kj-guided-search__progress {
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(90%, #fff), to(hsla(0, 0%, 100%, 0)));
		background: linear-gradient(180deg, #fff 0, #fff 90%, hsla(0, 0%, 100%, 0));
		position: -webkit-sticky;
		position: sticky;
		top: 56px;
		z-index: 1
	}
}

@media (min-width:50em) {
	.kj-guided-search__progress {
		margin: 54px 0 59px
	}
}

.kj-guided-search__title {
	font-weight: 400;
	margin: 0 0 50px
}

@media (max-width:49.99em) {
	.kj-guided-search__title {
		font-size: 32px!important;
		line-height: 46px!important
	}
}

@media (min-width:50em) {
	.kj-guided-search__title {
		line-height: 41px!important;
		margin-bottom: 0
	}
}

.kj-guided-search__steps {
	list-style-type: none;
	margin: 0;
	padding: 0
}

@media (max-width:49.99em) {
	.kj-guided-search__step {
		margin-bottom: 78px;
		opacity: .3;
		-webkit-transition: opacity .15s;
		transition: opacity .15s
	}
	.kj-guided-search__step--active {
		opacity: 1
	}
	.kj-guided-search__step:not(.kj-guided-search__step--active) .kj-guided-search__answer {
		border-color: transparent;
		-webkit-box-shadow: none;
		box-shadow: none;
		padding-left: 0
	}
	.kj-guided-search__step:not(.kj-guided-search__step--active) .kj-guided-search__answer::-webkit-input-placeholder {
		opacity: 0
	}
	.kj-guided-search__step:not(.kj-guided-search__step--active) .kj-guided-search__answer:-ms-input-placeholder {
		opacity: 0
	}
	.kj-guided-search__step:not(.kj-guided-search__step--active) .kj-guided-search__answer::placeholder {
		opacity: 0
	}
	.kj-guided-search__step:not(.kj-guided-search__step--active) .kj-guided-search__answer::-ms-input-placeholder {
		opacity: 0
	}
}

@media (min-width:50em) {
	.kj-guided-search__step {
		-webkit-animation: fadeIn .15s forwards ease-in;
		animation: fadeIn .15s forwards ease-in;
		display: none;
		position: absolute
	}
	.kj-guided-search__step--active {
		display: block;
		position: static
	}
}

.kj-guided-search__questions {
	margin-right: auto;
	max-width: 560px;
	position: relative
}

@media (min-width:62.5em) {
	.kj-guided-search__questions {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		min-height: 320px;
		width: 50%
	}
}

@media (min-width:75em) {
	.kj-guided-search__questions {
		width: 60%
	}
}

.kj-guided-search__question {
	display: block
}

.kj-guided-search__question-confirmation,
.kj-guided-search__question-label {
	margin: 0
}

@media (max-width:49.99em) {
	.kj-guided-search__question-confirmation,
	.kj-guided-search__question-label {
		font-size: 16px!important;
		line-height: 22px!important
	}
}

@media (min-width:50em) {
	.kj-guided-search__question-confirmation,
	.kj-guided-search__question-label {
		line-height: 41px!important
	}
}

@media (min-width:50em) {
	.kj-guided-search__question-wrapper {
		min-height: 82px
	}
}

.kj-guided-search__answer-wrapper {
	margin: 8px 0 22px;
	position: relative
}

@media (min-width:50em) {
	.kj-guided-search__answer-wrapper {
		margin-top: 18px;
		margin-bottom: 44px
	}
}

@media (min-width:62.5em) {
	.kj-guided-search__answer-wrapper {
		margin-bottom: 100px
	}
}

.kj-guided-search__answer {
	border: 1px solid #d2d2d2;
	border-radius: 4px;
	-webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .11);
	box-shadow: 0 2px 4px rgba(0, 0, 0, .11);
	font-size: 16px;
	height: 48px;
	line-height: 20px;
	padding: 14px 15px;
	background: inherit;
	-webkit-font-smoothing: antialiased;
	width: 100%
}

.kj-guided-search__answer:focus {
	border-bottom-color: #d2d2d2
}

@media (max-width:49.99em) {
	.kj-guided-search__answer:focus {
		padding-right: 58px
	}
}

@media (min-width:50em) {
	.kj-guided-search__answer {
		height: 50px
	}
}

@media (min-width:50em) {
	.kj-guided-search__answer--location {
		padding: 10px 0 10px 32px
	}
}

.kj-guided-search__prev {
	margin-right: 15px;
	position: absolute;
	right: 100%;
	top: 12px
}

@media (min-width:75em) {
	.kj-guided-search__prev {
		margin-right: 30px
	}
}

.kj-guided-search__answer-icon {
	opacity: 0;
	-webkit-transition: opacity .125s;
	transition: opacity .125s
}

.kj-guided-search__next {
	border-radius: 0 4px 4px 0;
	bottom: 1px;
	height: 46px;
	line-height: 46px;
	opacity: 0;
	padding: 0 10px 0 6px;
	position: absolute;
	right: 1px;
	-webkit-transition: opacity .125s;
	transition: opacity .125s
}

@media (max-width:49.99em) {
	.kj-guided-search__next:before {
		background: -webkit-gradient(linear, left top, right top, from(hsla(0, 0%, 100%, 0)), color-stop(90%, #fff));
		background: linear-gradient(90deg, hsla(0, 0%, 100%, 0) 0, #fff 90%);
		bottom: 1px;
		content: "";
		position: absolute;
		right: 100%;
		top: 0;
		width: 20px
	}
}

@media (min-width:50em) {
	.kj-guided-search__next {
		height: 50px;
		line-height: 50px
	}
}

.kj-guided-search__next:focus,
input:focus+.kj-guided-search__next {
	opacity: 1
}

.kj-guided-search__next--desktop {
	min-width: 126px
}

.kj-guided-search__result {
	margin: 0
}

@media (max-width:49.99em) {
	.kj-guided-search__result {
		padding-left: 35px;
		position: absolute
	}
}

@media (min-width:50em) {
	.kj-guided-search__result {
		text-align: center
	}
}

@media (min-width:50em) and (max-width:62.49em) {
	.kj-guided-search__result {
		margin-top: 30px
	}
}

@media (min-width:62.5em) and (max-width:74.99em) {
	.kj-guided-search__result {
		width: 50%
	}
}

@media (min-width:75em) {
	.kj-guided-search__result {
		width: 40%
	}
}

.kj-guided-search__result-count {
	color: #70757b;
	font-family: Kaana Sans, sans;
	font-size: 24px;
	font-weight: 400;
	line-height: 30px;
	-webkit-transition: color .15s;
	transition: color .15s
}

.kj-guided-search__result-count--active {
	color: rgb(var(--PF-color-primary))
}

@media (min-width:62.5em) {
	.kj-guided-search__result-count {
		font-size: 200px;
		line-height: 180px;
		-webkit-font-smoothing: antialiased
	}
}

.kj-guided-search__result-label {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	color: #707070;
	font-size: 20px;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center
}

@media (min-width:50em) {
	.kj-guided-search__result-label {
		margin: 1em 0
	}
}

.kj-guided-search__result-label .kj-icon {
	color: #767676;
	cursor: pointer
}

@media (max-width:49.99em) {
	.kj-guided-search__result-count,
	.kj-guided-search__result-label {
		font-size: 14px;
		display: inline-block;
		vertical-align: baseline
	}
}

.kj-header {
	-ms-flex-negative: 0;
	flex-shrink: 0
}

.kj-header {
	height: 57px
}

.kj-header.has-subnav.has-main-nav {
	height: 114px
}

@media (min-width:62.5em) {
	.kj-header {
		height: 65px
	}
	.kj-header.has-subnav.has-main-nav {
		height: 130px
	}
}

.kj-header nav>ul {
	list-style-type: none;
	margin: 0;
	padding: 0
}

.kj-header__bar {
	left: 0;
	min-height: 56px;
	min-width: 300px;
	top: 0;
	width: 100%;
	z-index: 90
}

@media (min-width:62.5em) {
	.kj-header__bar {
		min-height: 64px
	}
}

.kj-header__bar .kj-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	height: 55px;
	max-height: 100%
}

@media (min-width:62.5em) {
	.kj-header__bar .kj-container {
		height: 64px
	}
}

.kj-header__bar .kj-container:after {
	clear: both;
	content: "";
	display: table
}

.kj-header__lockup {
	float: left;
	height: 100%;
	position: relative
}

.kj-header__lockup>a {
	text-decoration: none
}

.kj-header__jump-to-content {
	background-color: #f6f7f9;
	color: rgb(var(--PF-color-on-surface));
	left: 100%;
	margin-left: 48px;
	padding: 10px;
	top: 14px;
	white-space: nowrap;
	z-index: 103;
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute;
	width: 1px
}

.kj-header__jump-to-content:focus {
	position: absolute!important;
	clip: auto;
	height: auto;
	overflow: visible;
	position: static;
	width: auto
}

.kj-header__logo {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 100%;
	padding: 7px 0 4px;
	vertical-align: middle
}

@media (min-width:62.5em) {
	.kj-header__logo {
		padding-top: 4px
	}
}

.kj-header__company-logo-img {
	height: 20px;
	width: 60px
}

@media (min-width:25em) {
	.kj-header__company-logo-img {
		height: 24px;
		width: 74px
	}
}

.kj-header__product-logo-text {
	color: rgb(var(--PF-color-on-surface));
	font-size: 18px;
	font-weight: 400;
	white-space: nowrap
}

@media (min-width:25em) {
	.kj-header__product-logo-text {
		font-size: 22px
	}
}

.kj-header__nav {
	clear: none;
	display: none;
	float: left;
	height: 100%;
	margin-left: 48px
}

@media (min-width:62.5em) {
	.kj-header__nav {
		display: block
	}
}

.kj-header__nav--align-right .kj-header__nav-list {
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end
}

.kj-header__view-applications-link {
	margin-right: 24px;
	text-align: right
}

.kj-header__sign-in-out {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 56px;
	margin-left: auto;
	padding: 9px 0 9px 9px
}

@media (min-width:62.5em) {
	.kj-header__sign-in-out {
		height: 64px
	}
}

.kj-header__bar-subnav {
	border-top: 1px solid #d6d8dc;
	display: block;
	height: 56px;
	width: 100%
}

.kj-header__bar-subnav .kj-header__nav {
	display: block
}

@media (min-width:62.5em) {
	.kj-header__bar-subnav {
		height: 64px
	}
}

.kj-header__bar-subnav>.kj-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap
}

.kj-header__bar-subnav .kj-header__nav {
	margin-left: 0
}

.kj-header__drawer {
	bottom: 0;
	left: 0;
	max-width: 280px;
	outline: 0;
	position: fixed;
	right: 56px;
	top: 0;
	z-index: 102
}

.kj-header__drawer .kj-header__nav {
	display: block;
	padding-bottom: 20px;
	padding-top: 20px
}

.kj-header__drawer .kj-header__view-applications-link {
	bottom: 15px;
	left: 0;
	margin-right: 0;
	padding: 15px;
	position: absolute;
	right: 0;
	text-align: left
}

.kj-header__drawer-content {
	bottom: 62px;
	left: 0;
	overflow-y: auto;
	position: absolute;
	right: 0;
	top: 0
}

.kj-header__drawer-bar {
	border-bottom: 1px solid #d6d8dc;
	height: 56px
}

.kj-header__drawer-bar .kj-header__lockup {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-left: 16px
}

.kj-header__drawer-backdrop {
	z-index: 101
}

.kj-header__nav-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 100%;
	text-align: center
}

.kj-header__drawer .kj-header__nav-list {
	display: block;
	text-align: left
}

.kj-header__nav-list-item {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	height: 100%;
	margin-left: 36px;
	position: relative
}

.kj-header__nav-list-item:first-child {
	margin-left: 0
}

.kj-header__nav-list-item>a {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	color: rgb(var(--PF-color-on-surface));
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	fill: currentColor;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: .25px;
	padding: 10px 0 9px;
	position: relative;
	text-decoration: none;
	line-height: 2
}

@media (min-width:62.5em) {
	.kj-header__nav-list-item>a {
		line-height: 1.28571
	}
}

.kj-header__nav-list-item>a.is-active,
.kj-header__nav-list-item>a:focus,
.kj-header__nav-list-item>a:hover {
	color: #000
}

.kj-header__nav-list-item>a.is-active:after {
	background-color: #3d74d0;
	bottom: -1px;
	content: "";
	height: 2px;
	left: -5px;
	position: absolute;
	right: -5px
}

.kj-pop-over {
	position: relative
}

.kj-progress-dots {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	list-style-type: none
}

.kj-progress-dots__dot {
	border-radius: 7px;
	cursor: pointer;
	height: 14px;
	-webkit-transition: background-color .15s;
	transition: background-color .15s;
	width: 14px
}

.kj-progress-dots__dot:nth-child(4n+1) {
	background-color: #4285f4
}

.kj-progress-dots__dot:nth-child(4n+2) {
	background-color: #ea4335
}

.kj-progress-dots__dot:nth-child(4n+3) {
	background-color: #fbbc05
}

.kj-progress-dots__dot:not(.kj-progress-dots__dot--active) {
	background: #767676!important
}

.kj-progress-dots__dot+.kj-progress-dots__dot {
	margin-left: 36px
}

.kj-sticky-button {
	border-radius: 0
}

@media (max-width:49.99em) {
	.kj-sticky-button--mobile {
		bottom: 0;
		width: 100%
	}
}

@media (max-width:49.99em) and (max-height:399px) {
	.kj-sticky-button--mobile {
		margin-left: -15px;
		margin-right: -15px;
		position: -webkit-sticky;
		position: sticky;
		width: calc(100% + 30px)
	}
}

@media (max-width:49.99em) and (min-height:400px) {
	.kj-sticky-button--mobile {
		border-left-width: 0!important;
		border-right-width: 0!important;
		left: 0;
		position: fixed;
		right: 0;
		z-index: 100
	}
}

.kj-traditional-input {
	border: 1px solid #d2d2d2;
	border-radius: 4px;
	-webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .11);
	box-shadow: 0 2px 4px rgba(0, 0, 0, .11);
	font-size: 16px;
	height: 48px;
	line-height: 20px;
	padding: 14px 15px
}

.kj-traditional-input:focus {
	border-bottom-color: #d2d2d2
}

.kj-user-menu {
	position: relative
}

@media (min-width:50em) {
	.kj-user-menu {
		display: inline-block
	}
}

.kj-user-menu__avatar {
	border-radius: 50%;
	cursor: pointer;
	display: block;
	height: 36px;
	width: 36px
}

.kj-user-menu__avatar--placeholder {
	background: #e0e0e0;
	line-height: 36px;
	text-align: center;
	text-transform: uppercase
}

.kj-user-menu__avatar .kj-icon {
	color: rgb(var(--PF-color-on-surface));
	position: relative;
	top: 6px
}

.kj-user-menu .kj-pop-over__trigger {
	display: block
}

		
		body:before {
			content: "xsmall";
			display: none;
		}
		
		@media (min-width:600px) {
			body:before {
				content: "small";
			}
		}
		
		@media (min-width:800px) {
			body:before {
				content: "medium";
			}
		}
		
		@media (min-width:1000px) {
			body:before {
				content: "large";
			}
		}
		
		@media (min-width:1200px) {
			body:before {
				content: "xlarge";
			}
		}
		
		@media (min-width:1550px) {
			body:before {
				content: "xxlarge";
			}
		}
		
		@media (max-width:37.49em) {
			.kj-h-hidden--until-small {
				display: none!important;
			}
		}
		
		@media (min-width:50em) {
			.kj-h-hidden--from-medium {
				display: none!important;
			}
		}
		
		@media (max-width:49.99em) {
			.kj-h-hidden--until-medium {
				display: none!important;
			}
		}
		
		@media (max-width:62.49em) {
			.kj-h-hidden--until-large {
				display: none!important;
			}
		}
		
		.kj-h-unstyled-list {
			list-style-type: none;
			margin: 0;
			padding-left: 0;
		}
		
		
		.kj-h-visually-hidden {
			border: 0;
			clip: rect(1px, 1px, 1px, 1px);
			height: 1px;
			overflow: hidden;
			padding: 0;
			position: absolute;
			width: 1px;
		}
		
		.kj-h-text-align-right {
			text-align: right;
		}
		
		.kj-h-flex-row {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-orient: horizontal;
			-webkit-box-direction: normal;
			-ms-flex-flow: row nowrap;
			flex-flow: row nowrap;
		}
		
		.kj-h-flex-row--center {
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			-webkit-box-pack: center;
			-ms-flex-pack: center;
			justify-content: center;
		}
		
		.kj-h-flex-column {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			-ms-flex-flow: column nowrap;
			flex-flow: column nowrap;
		}
		
		.kj-h-flex {
			-webkit-box-flex: 1;
			-ms-flex: 1;
			flex: 1;
		}
		
		.kj-h-backdrop {
			background: rgba(0, 0, 0, .4);
			bottom: 0;
			left: 0;
			position: fixed;
			right: 0;
			top: 0;
		}
		
		@media screen and (prefers-reduced-motion:reduce) {
			* {
				-webkit-animation: none!important;
				animation: none!important;
				-webkit-transition: none!important;
				transition: none!important;
			}
		}
		
		.kj-button {
			-webkit-appearance: none;
			background: transparent;
			border: 0;
			cursor: pointer;
			display: inline-block;
			
			font-size: 14px;
			font-weight: 500;
			line-height: 1.15;
			-webkit-tap-highlight-color: transparent;
			text-align: center;
			text-decoration: none;
			-webkit-transition: background .15s, color .15s;
			transition: background .15s, color .15s;
		}
		
		.kj-button:not(.kj-button--small) {
			-webkit-font-smoothing: antialiased;
		}
		
		.kj-button--icon {
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			display: -webkit-inline-box;
			display: -ms-inline-flexbox;
			display: inline-flex;
			-webkit-box-pack: center;
			-ms-flex-pack: center;
			justify-content: center;
			padding: 0;
		}
		
		.kj-button--icon .kj-icon.kj-icon--left {
			margin-right: 6px;
		}
		
		.kj-button--primary {
			color: rgb(var(--PF-color-primary), .85);
		}
		
		.kj-button--primary:focus,
		.kj-button--primary:hover {
			color: #185abc;
		}
		
		.kj-button--secondary {
			
		}
		
		.kj-button--secondary:hover {
			color: rgb(var(--PF-color-primary));
		}
		
		.kj-button--raised {
			border-radius: 4px;
			font-size: 14px;
			letter-spacing: .25px;
			padding: 10px 24px;
		}
		
		.kj-button--raised.kj-button--primary {
			background: rgb(var(--PF-color-primary));
			color: #fff;
		}
		
		.kj-button--raised.kj-button--primary:focus,
		.kj-button--raised.kj-button--primary:hover {
			background: #185abc;
			color: #fff;
		}
		
		.kj-button--raised.kj-button--icon .kj-icon.kj-icon--left {
			margin-right: 11px;
		}
		
		.kj-button--back {
			color: #767676;
		}
		
		.kj-link {
			-webkit-appearance: none;
			background: transparent;
			border: 0;
			color: rgb(var(--PF-color-primary));
			display: inline-block;
			
			font-size: 14px;
			font-weight: 500;
			text-align: center;
			text-decoration: none;
			-webkit-transition: background .15s, color .15s;
			transition: background .15s, color .15s;
		}
		
		.kj-link:focus,
		.kj-link:hover {
			color: #185abc;
		}
		
		.kj-link--on-grey {
			color: #3d71ca;
		}
		
		.kj-icon {
			display: inline-block;
			fill: currentColor;
		}
		
		.kj-icon--share {
			margin-right: 8px;
		}
		
		.kj-icon--next {
			-webkit-transform: rotate(180deg);
			transform: rotate(180deg);
		}
		
		.kj-heading,
		.kj-job-qualifications>p,
		h1,
		h2 {
			display: block;
			
			font-weight: 500;
			text-rendering: optimizeLegibility;
		}
		
		h1 {
			font-size: 24px;
			-webkit-font-smoothing: antialiased;
			letter-spacing: -.17px;
			line-height: 1.16667;
		}
		
		@media (min-width:50em) {
			h1 {
				font-size: 32px;
				line-height: 1.4375;
			}
		}
		
		.kj-heading.kj-heading--beta,
		h2 {
			font-size: 16px;
			-webkit-font-smoothing: antialiased;
			letter-spacing: 0;
			line-height: 22px;
		}
		
		@media (min-width:50em) {
			.kj-heading.kj-heading--beta,
			h2 {
				font-size: 24px;
				line-height: 30px;
			}
		}
		
		.kj-heading.kj-heading--gamma {
			font-size: 16px;
			letter-spacing: .2px;
			line-height: 18px;
		}
		
		@media (min-width:50em) {
			.kj-heading.kj-heading--gamma {
				font-size: 16px;
				line-height: 18px;
			}
		}
		
		.kj-job-qualifications>p {
			font-size: 16px;
			letter-spacing: .2px;
			line-height: 18px;
		}
		
		@media (min-width:50em) {
			.kj-job-qualifications>p {
				font-size: 16px;
				line-height: 18px;
			}
		}
		
		.kj-font-size-small {
			font-size: 12px;
			line-height: 1.83333;
		}
		
		.kj-page {
			margin: 0 auto;
			max-width: 1230px;
			padding-left: 15px;
			padding-right: 15px;
			width: 100%;
		}
		
		@media (min-width:37.5em) {
			.kj-page {
				padding-left: 20px;
				padding-right: 20px;
			}
		}
		
		@media (min-width:62.5em) {
			.kj-page {
				padding-left: 30px;
				padding-right: 30px;
			}
		}
		
		.kj-wrapper {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-flex: 1;
			-ms-flex: 1 0 auto;
			flex: 1 0 auto;
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			-ms-flex-direction: column;
			flex-direction: column;
			height: 100%;
			position: relative;
		}
		
		.kj-container {
			margin: 0 auto;
			max-width: 1440px;
			padding-left: 15px;
			padding-right: 15px;
		}
		
		@media (min-width:62.5em) {
			.kj-container {
				padding-left: 30px;
				padding-right: 30px;
			}
		}
		
		.kj-container--full-width {
			max-width: none;
		}
		
		.kj-main {
			position: relative;
		}
		
		.kj-l-split,
		.kj-main {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-flex: 1;
			-ms-flex: 1 0 auto;
			flex: 1 0 auto;
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			-ms-flex-flow: column nowrap;
			flex-flow: column nowrap;
		}
		
		@media (min-width:50em) {
			.kj-l-split {
				-webkit-box-orient: horizontal;
				-webkit-box-direction: normal;
				-ms-flex-direction: row;
				flex-direction: row;
			}
			.kj-l-split__main {
				-webkit-box-flex: 1;
				-ms-flex: 1 1 auto;
				flex: 1 1 auto;
				padding: 30px;
				position: relative;
			}
			.kj-l-split__sidebar {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-orient: vertical;
				-webkit-box-direction: normal;
				-ms-flex-flow: column nowrap;
				flex-flow: column nowrap;
				-ms-flex-negative: 0;
				flex-shrink: 0;
				width: 372px;
			}
		}
		
		.kj-accordion__item--active .kj-icon--expand {
			-webkit-transform: rotateX(180deg);
			transform: rotateX(180deg);
		}
		
		.kj-accordion__header {
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			cursor: pointer;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-pack: justify;
			-ms-flex-pack: justify;
			justify-content: space-between;
			-webkit-tap-highlight-color: transparent;
		}
		
		.kj-accordion__content-inner {
			margin-top: 18px;
		}
		
		.kj-action-group {
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-pack: start;
			-ms-flex-pack: start;
			justify-content: flex-start;
		}
		
		.kj-action-group--center {
			-webkit-box-pack: center;
			-ms-flex-pack: center;
			justify-content: center;
		}
		
		.kj-action-group__item {
			margin: 0 12px;
		}
		
		.kj-action-group__item:first-child {
			margin-left: 0;
		}
		
		.kj-action-group__item:last-child {
			margin-right: 0;
		}
		
		.kj-action-group .kj-action-bookmark:disabled {
			color: #888e95;
			cursor: default;
		}
		
		.kj-card {
			background: rgb(var(--PF-color-surface));
			display: block;
			margin-left: auto;
			margin-right: auto;
			max-width: 980px;
			-webkit-tap-highlight-color: transparent;
			-webkit-transition: background-color .15s, border-color .15s, -webkit-box-shadow .15s;
			transition: background-color .15s, border-color .15s, -webkit-box-shadow .15s;
			transition: box-shadow .15s, background-color .15s, border-color .15s;
			transition: box-shadow .15s, background-color .15s, border-color .15s, -webkit-box-shadow .15s;
		}
		
		@media (max-width:49.99em) {
			.kj-card {
				border-bottom: 1px solid #dfe1e5;
			}
		}
		
		@media (min-width:50em) {
			.kj-card {
				border: 1px solid #dfe1e5;
				border-radius: 1em;
				-webkit-box-shadow: none;
				box-shadow: none;
				font-size: 16px;
				line-height: 28px;
			}
			a.kj-card:hover {
				-webkit-box-shadow: 0 1px 3px 0 rgba(60, 64, 67, .3), 0 4px 8px 3px rgba(60, 64, 67, .15);
				box-shadow: 0 1px 3px 0 rgba(60, 64, 67, .3), 0 4px 8px 3px rgba(60, 64, 67, .15);
				border-color: transparent;
			}
		}
		
		.kj-card--active {
			background-color: rgb(var(--PF-color-primary), .1)!important;
			-webkit-box-shadow: none!important;
			box-shadow: none!important;
			cursor: default;
			position: relative;
		}
		
		@media (min-width:50em) {
			.kj-card--active {
				border-radius: 3px;
			}
		}
		
		.kj-card--active:before {
			background-color: #4285f4;
			bottom: 0;
			content: "";
			left: 0;
			position: absolute;
			top: 0;
			width: 3px;
			z-index: 1;
		}
		
		@media (min-width:50em) {
			.kj-card--active:before {
				border-radius: 3px 0 0 3px;
				margin: -1px;
			}
		}
		
		.kj-card--active:hover {
			border-color: #dfe1e5!important;
		}
		
		.kj-card--expanded {
			border-color: transparent;
			-webkit-box-shadow: 0 1px 2px rgba(60, 64, 67, .3), 0 1px 3px 1px rgba(60, 64, 67, .15);
			box-shadow: 0 1px 2px rgba(60, 64, 67, .3), 0 1px 3px 1px rgba(60, 64, 67, .15);
		}
		
		.kj-card__header {
			
			margin-left: 18px;
			margin-right: 18px;
			padding: 18px 0 54px;
			position: relative;
		}
		
		@media (min-width:50em) {
			.kj-card__header {
				border-bottom: 1px solid #dfe1e5;
				margin-left: 30px;
				margin-right: 30px;
				padding: 18px 0 8px;
			}
		}
		
		.kj-card.kj-card--small .kj-card__header {
			border-bottom: 0;
			margin-right: 18px;
			min-height: 120px;
			padding: 18px 0 54px;
		}
		
		.kj-card__content {
			
			padding: 18px;
		}
		
		@media (min-width:50em) {
			.kj-card__content {
				padding: 18px 30px;
			}
		}
		
		.kj-card__title {
			-webkit-box-orient: vertical;
			display: -webkit-box;
			font-size: 18px;
			-webkit-line-clamp: 2;
			line-height: 23px;
			margin-bottom: 9px;
			margin-top: 0;
			overflow: hidden;
		}
		
		@media (max-width:49.99em) {
			.kj-card__title.kj-heading--beta:not(.kj-job-detail__title) {
				font-size: 16px!important;
				font-weight: 500;
				line-height: 18px!important;
			}
		}
		
		.kj-card--small .kj-card__title {
			
			
			font-size: 18px;
			line-height: 24px;
		}
		
		.kj-card__actions {
			float: right;
			margin-left: 20px;
		}
		
		@media (max-width:49.99em) {
			.kj-card__actions .kj-action-group__item:first-child:not(: last-child) {
				display: none;
			}
		}
		
		.kj-card__meta {
			bottom: 18px;
			
			font-size: 12px;
			left: 18px;
			position: absolute;
			right: 18px;
		}
		
		@media (max-width:49.99em) {
			.kj-card__meta {
				line-height: normal;
			}
		}
		
		@media (min-width:50em) {
			.kj-card__meta {
				position: static;
			}
		}
		
		.kj-card--small .kj-card__meta {
			
			line-height: normal;
			position: absolute;
		}
		
		.kj-card__meta-item {
			display: inline-block;
			margin-right: 10px;
		}
		
		.kj-card__meta-item:last-child {
			margin-right: 0;
		}
		
		@media (min-width:50em) {
			.kj-card__meta-item {
				margin-right: 20px;
			}
		}
		
		.kj-card__datetime:first-letter {
			text-transform: uppercase;
		}
		
		@media (max-width:49.99em) {
			.kj-card__datetime {
				text-align: right;
				width: 100%;
			}
		}
		
		.kj-skeleton {
			border: 1px solid transparent;
			display: none;
			line-height: 28px;
			margin-left: auto;
			margin-right: auto;
			position: fixed;
			z-index: 9;
		}
		
		.kj-skeleton .kj-card__header {
			border-bottom: 0;
		}
		
		@media (min-width:50em) {
			.kj-job-detail+.kj-skeleton {
				display: block;
				left: 30px;
				max-width: 980px;
				position: absolute;
				right: 30px;
				top: 30px;
			}
			.kj-job-detail--loaded+.kj-skeleton {
				display: none;
			}
		}
		
		.kj-drop-down__target {
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			color: #444;
			cursor: pointer;
		}
		
		.kj-drop-down__target:after {
			border-color: #737373 transparent transparent;
			border-style: solid;
			border-width: 5px 5px 0;
			content: "";
			display: inline-block;
			height: 0;
			margin-left: 10px;
			width: 0;
		}
		
		
		.kj-job-detail {
			min-height: 100vh;
		}
		
		.kj-job-detail__header {
			padding-bottom: 18px;
		}
		
		@media (max-width:49.99em) {
			.kj-job-detail__header {
				background-color: #f5f5f5;
				margin-left: 0;
				margin-right: 0;
				padding: 18px;
			}
		}
		
		.kj-job-detail__title {
			display: block;
			-webkit-line-clamp: unset;
		}
		
		@media (max-width:49.99em) {
			.kj-job-detail__title.kj-card__title {
				margin-bottom: 15px;
			}
		}
		
		@media (min-width:50em) {
			.kj-job-detail__tags.kj-job-tags {
				padding-right: 150px;
			}
		}
		
		.kj-job-detail__meta {
			bottom: auto;
			left: auto;
			margin-top: 6px;
			position: relative;
			right: auto;
		}
		
		@media (max-width:49.99em) {
			.kj-job-detail__meta {
				-webkit-box-align: start;
				-ms-flex-align: start;
				align-items: flex-start;
				color: #707070;
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-orient: vertical;
				-webkit-box-direction: normal;
				-ms-flex-flow: column;
				flex-flow: column;
			}
			.kj-job-detail__meta .kj-card__meta-item {
				margin-bottom: 15px;
				margin-top: 15px;
			}
		}
		
		@media (min-width:50em) {
			.kj-job-detail__meta {
				-webkit-box-align: center;
				-ms-flex-align: center;
				align-items: center;
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				margin-top: 0;
				min-height: 44px;
			}
		}
		
		@media (min-width:50em) {
			.kj-job-detail__header-cta {
				bottom: 0;
				position: absolute;
				right: 0;
			}
		}
		
		@media (max-width:49.99em) {
			.kj-job-detail .kj-card__content {
				padding-left: 0;
				padding-right: 0;
			}
		}
		
		.kj-job-detail__section {
			border-top: 1px solid #e0e0e0;
			padding: 15px;
		}
		
		@media (min-width:50em) {
			.kj-job-detail__section {
				padding-left: 0;
				padding-right: 0;
			}
		}
		
		.kj-job-detail__section--qualifications {
			border-top: 0;
			padding-top: 0;
		}
		
		.kj-job-detail__section--location .kj-job-detail__location-address-link {
			margin-bottom: 15px;
			margin-top: 15px;
			width: 100%;
		}
		
		.kj-job-detail__section--location .kj-job-detail__location-address-link span {
			-webkit-box-flex: 1;
			-ms-flex-positive: 1;
			flex-grow: 1;
			text-align: left;
		}
		
		.kj-job-detail__section--location .kj-job-detail__location-address-link svg {
			color: currentColor;
			margin: 0 20px;
		}
		
		.kj-job-detail__section--apply-bottom-container {
			-ms-flex-item-align: start;
			align-self: flex-start;
			bottom: 50px;
			position: -webkit-sticky;
			position: sticky;
			text-align: right;
		}
		
		@media (max-width:49.99em) {
			.kj-job-detail__section--apply-bottom-container {
				bottom: 18px;
			}
		}
		
		.kj-job-detail__section--apply-bottom-container a {
			border-radius: 24px;
			-webkit-box-shadow: 0 1px 3px 0 rgba(66, 133, 244, .3), 0 4px 8px 3px rgba(66, 133, 244, .15);
			box-shadow: 0 1px 3px 0 rgba(66, 133, 244, .3), 0 4px 8px 3px rgba(66, 133, 244, .15);
			height: 48px;
		}
		
		@media (max-width:49.99em) {
			.kj-job-detail__section--apply-bottom-container a {
				margin-right: 18px;
			}
		}
		
		.kj-job-detail__instruction {
			background: rgb(var(--PF-color-on-surface), .01);
			border-radius: 3px;
			border: 1px solid #dfe1e5;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			letter-spacing: 0;
			margin: 0 15px 15px;
			padding: 15px;
			position: relative;
		}
		
		.kj-job-detail__instruction:before {
			background-color: #4285f4;
			border-radius: 3px 0 0 3px;
			bottom: 0;
			content: "";
			left: 0;
			margin: -1px;
			position: absolute;
			top: 0;
			width: 3px;
			z-index: 1;
		}
		
		@media (min-width:50em) {
			.kj-job-detail__instruction {
				margin: 0 0 30px;
			}
		}
		
		.kj-job-detail__instruction-icon {
			padding-right: 20px;
			margin-top: 5px;
			color: #4285f4;
		}
		
		.kj-job-detail__instruction p {
			margin-top: 0;
		}
		
		.kj-job-detail__instruction p:last-child {
			margin-bottom: 0;
		}
		
		.kj-job-detail .kj-card__header {
			-webkit-transition: border-bottom-color .325s cubic-bezier(.4, 0, .2, 1);
			transition: border-bottom-color .325s cubic-bezier(.4, 0, .2, 1);
		}
		
		.kj-job-qualifications>p {
			margin-bottom: 6px;
			margin-top: 3px;
		}
		
		.kj-job-qualifications>ul {
			margin-top: 0;
		}
		
		.kj-job-qualifications>ul:not(:last-child) {
			margin-bottom: 32px;
		}
		
		.kj-job-share-pop-over .kj-button {
			margin: 0;
		}
		
		.kj-job-tags {
			
			list-style: none;
			margin: 0;
			padding: 0;
		}
		
		.kj-job-tags>li {
			display: -webkit-inline-box;
			display: -ms-inline-flexbox;
			display: inline-flex;
			font-size: 14px;
			vertical-align: middle;
		}
		
		.kj-job-tags>li:after {
			content: "\A0-\A0";
		}
		
		.kj-job-tags>li:last-child:after {
			content: none;
		}
		
		@media (min-width:50em) {
			.kj-job-tags>li {
				margin-right: 20px;
			}
			.kj-job-tags>li:after {
				content: none;
			}
			.kj-job-tags>li:last-child {
				margin-right: 0;
			}
		}
		
		@media (min-width:50em) {
			.kj-job-tags--no-icons>li {
				margin-right: 0;
			}
			.kj-job-tags--no-icons>li:after {
				content: "\A0-\A0";
			}
			.kj-job-tags--no-icons>li:last-child:after {
				content: none;
			}
		}
		
		.kj-job-tags svg {
			display: none;
		}
		
		@media (min-width:50em) {
			.kj-job-tags svg {
				-ms-flex-item-align: center;
				align-self: center;
				display: block;
				fill: #bdbdbd;
				margin-right: 5px;
			}
		}
		
		.kj-card.kj-card--small .kj-job-tags {
			
			line-height: 20px;
		}
		
		.kj-card.kj-card--small .kj-job-tags,
		.kj-jobs-info-bar {
			
		}
		
		.kj-jobs-info-bar {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
		}
		
		.kj-jobs-info-bar .kj-jobs-matched {
			display: inline;
		}
		
		.kj-jobs-matched {
			color: #70757b;
			opacity: 0;
		}
		
		.kj-jobs-matched--active {
			opacity: 1;
		}
		
		.kj-jobs-matched__count--active {
			color: #34a853;
			-webkit-transition: color .15s;
			transition: color .15s;
		}
		
		
		.kj-office-map {
			border: 1px solid #e0e0e0;
		}
		
		.kj-office-map__location-link {
			display: block;
			height: 400px;
			overflow: hidden;
			position: relative;
		}
		
		@media (min-width:37.5em) {
			.kj-office-map__location-link {
				height: 255px;
			}
		}
		
		.kj-office-map__location-link img {
			left: 50%;
			max-width: none;
			position: absolute;
			top: 50%;
			-webkit-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
		}
		
		.kj-pop-over {
			position: relative;
		}
		
		@media (min-width:50em) {
			.kj-search-results-sidebar__item {
				margin-bottom: 25px;
			}
		}
		
		.kj-search-results-sidebar__item:last-child {
			margin-bottom: 0;
		}
		
		.kj-sidebar {
			background-color: rgb(var(--PF-color-surface));
		}
		
		@media (min-width:50em) {
			.kj-sidebar {
				border-right: 1px solid #e8e8e8;
			}
			.kj-sidebar__inner {
				bottom: 0;
				left: 0;
				overflow-x: hidden;
				overflow-y: auto;
				padding-bottom: 57px;
				position: relative;
				position: sticky;
				top: 3.5em;
				-webkit-transform: translateY(57px);
				transform: translateY(57px);
				-webkit-transition: padding-bottom 0s .4s, -webkit-transform .4s 0s;
				transition: padding-bottom 0s .4s, -webkit-transform .4s 0s;
				transition: transform .4s 0s, padding-bottom 0s .4s;
				transition: transform .4s 0s, padding-bottom 0s .4s, -webkit-transform .4s 0s;
				width: 372px;
				-ms-overflow-style: -ms-autohiding-scrollbar;
			}
		}
		
		@media (min-width:50em) and (min-width:62.5em) {
			.kj-sidebar__inner {
				padding-bottom: 65px;
				-webkit-transform: translateY(65px);
				transform: translateY(65px);
			}
		}
		
		@media (min-width:50em) {
			.kj-sidebar--has-subnav .kj-sidebar__inner {
				padding-bottom: 113px;
				-webkit-transform: translateY(113px);
				transform: translateY(113px);
			}
		}
		
		@media (min-width:50em) and (min-width:62.5em) {
			.kj-sidebar--has-subnav .kj-sidebar__inner {
				padding-bottom: 129px;
				-webkit-transform: translateY(129px);
				transform: translateY(129px);
			}
		}
		
		@media (min-width:50em) {
			.kj-sidebar--header-hidden .kj-sidebar__inner {
				padding-bottom: 0;
				-webkit-transform: none;
				transform: none;
			}
		}
		
		.kj-sidebar__header {
			background-color: rgb(var(--PF-color-surface));
			border-bottom: 1px solid #e8e8e8;
			left: 0;
			margin-right: 1px;
			padding: 24px;
			position: -webkit-sticky;
			position: sticky;
			top: 0;
			z-index: 2;
		}
		
		.kj-sidebar--job-details {
			-webkit-box-pack: justify;
			-ms-flex-pack: justify;
			justify-content: space-between;
		}
		
		.kj-sidebar--job-details .kj-button {
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-pack: center;
			-ms-flex-pack: center;
			justify-content: center;
			padding-left: 0;
		}
		
		.kj-sidebar--job-details .kj-button svg {
			padding-right: 8px;
		}
		
		.kj-sidebar__header-button {
			float: right;
			margin-top: 2px;
		}
		
		.kj-sidebar__content {
			padding: 15px 24px 24px;
		}
		
		@media (max-width:49.99em) {
			.kj-sidebar__content {
				padding: 0;
			}
		}
		
		.kj-sidebar__pagination {
			margin-top: 24px;
		}
		
		.kj-site-footer__legal-links {
			display: -webkit-inline-box;
			display: -ms-inline-flexbox;
			display: inline-flex;
			list-style-type: none;
			margin: 30px 0 0;
			padding: 0 0 0 0;
			-webkit-transform: translateY(-50%);
			transform: translateY(-50%);
		}
		
		@media (min-width:25em) {
			.kj-site-footer__legal-links {
				margin: 0;
			}
		}
		
		.kj-site-footer__legal-link {
			margin-right: 28px;
		}
		
		.kj-site-footer__legal-link a {
			color: #70757b;
		}
		
		.kj-site-footer--condensed {
			color: #202124;
			padding: 30px 0 20px;
		}
		
		.kj-site-footer__job-pages--condensed {
			max-width: 978px;
			padding: 0;
		}
		
		@media (max-width:49.99em) {
			.kj-site-footer__job-pages--condensed {
				padding: 0 15px;
			}
		}
		
		.kj-sticky-button {
			border-radius: 0;
		}
		
		.kj-user-generated-content ul+br {
			display: none;
		}
		
		.kj-user-generated-content ul {
			list-style-type: none;
		}
		
		.kj-user-generated-content ul>li {
			text-indent: -15px;
		}
		
		@media (max-width:49.99em) {
			.kj-user-generated-content ul>li {
				margin-bottom: 1em;
			}
		}
		
		@media (min-width:50em) {
			.kj-user-generated-content ul>li {
				text-indent: -17px;
			}
		}
		
		.kj-user-generated-content ul>li:before {
			color: #d8d8d8;
			content: "\2022";
			display: inline;
			font-size: 16px;
			margin-right: 10px;
			vertical-align: middle;
		}
		
		@media (min-width:50em) {
			.kj-user-generated-content ul>li:before {
				font-size: 22px;
			}
		}
		
		.kj-user-generated-content ul>li:empty {
			display: none;
		}
		
		.kj-user-menu {
			position: relative;
		}
		
		@media (min-width:50em) {
			.kj-user-menu {
				display: inline-block;
			}
		}
		
		.kj-user-menu__avatar {
			border-radius: 50%;
			cursor: pointer;
			display: block;
			height: 36px;
			width: 36px;
		}
		
		.kj-user-menu__avatar--placeholder {
			background: #e0e0e0;
			line-height: 36px;
			text-align: center;
			text-transform: uppercase;
		}
		
		.kj-user-menu__avatar .kj-icon {
			
			position: relative;
			top: 6px;
		}
		
		.kj-user-menu .kj-pop-over__trigger {
			display: block;
		}
		/*! CSS Used from: Embedded */
		
		:focus {
			outline: 0;
		}
		
		::-moz-focus-inner {
			border: 0;
		}