
/*CHIP*/

.PF-chips {
  display: flex;
  flex-wrap: wrap;
  padding: 0.5rem;
  border-radius: 1em;
}

.PF-chips>.container {
    display: inline-block;
    text-align: center;
    margin: auto;
}

.PF-chips.center>.container {
    max-width: 75%;
}

.PF-chip {
  width: fit-content;
  max-width: 100%;
  display: inline-flex;
  align-items: center;
  text-align: center;
  background-color: rgba(var(--PF-color-primary), 0.2);
  position: relative;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 1em;
  border-radius: 2em;
  cursor: pointer;
  color: rgb(var(--PF-color-primary));
  min-width: fit-content;
  margin: 0.5rem;
  border: solid 1px transparent;
  height: 32px;
  padding: 0 0.5em;
}

.PF-chip.selected {
    color: rgb(var(--PF-color-surface));
    background-color: rgb(var(--PF-color-primary));
}

.PF-chip:first-child {
  margin-left: 0;
}

.PF-chip:last-child {
  margin-right: 0;
}

.PF-chips .PF-chip:nth-child(n+1) {
  margin-left: 0;
}

.PF-chip.transparent {
  background: transparent;
  color: rgb(var(--PF-color-primary));
  box-shadow: none;
}

.PF-chip.border {
  background: transparent;
  color: rgb(var(--PF-color-primary));
  box-shadow: none;
  border: 1px solid rgba(var(--PF-color-on-surface, 0, 0, 0), 0.24);
}

.PF-chip.semi {
  color: rgb(var(--PF-color-primary));
  background: rgb(var(--PF-color-surface, 33, 150, 243));
}

.PF-chip.fullflex {
  flex: 1 auto;
}

.PF-chip:disabled {
  background: rgba(var(--PF-color-on-surface, 0, 0, 0), 0.24);
  color: #a7a7a7;
  cursor: not-allowed;
  box-shadow: none;
}

.PF-chip .inside {
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  align-items: center;
  margin: auto;
}

.PF-chip .inside>i {
  margin: 0.5rem;
  font-style: normal;
}

.PF-chip .inside p {
  font-weight: 500;
  padding: 0.5em 1em;
  font-size: 16px;
  max-width: 100%;
  margin: 0;
  white-space: nowrap;
}

.PF-chip .inside p span {
  font-weight: 500;
}

.PF-chip .inside .PF-icon+p,
.PF-chip .inside>i+p {
  padding-left: 0;
}

.PF-chip .inside p+.PF-icon,
.PF-chip .inside p+i {
  margin-left: -1rem;
}

/*CHIP*/