
:root {
    --PF-color-primary: 23, 89, 233;
    --PF-color-secondary: 227, 242, 253;
    --PF-color-background: 255, 255, 255;
    --PF-color-surface: 255, 255, 255;
    --PF-color-error: #b00020;
    --PF-color-on-primary: 255, 255, 255;
    --PF-color-on-secondary: #442c2e;
    --PF-color-on-surface: 0, 0, 0;
    --PF-color-on-error: #fff;
    --PF-color-text-primary-on-background: rgba(0, 0, 0, 0.87);
    --PF-color-text-secondary-on-background: rgba(0, 0, 0, 0.54);
    --PF-color-text-hint-on-background: rgba(0, 0, 0, 0.38);
    --PF-color-text-disabled-on-background: rgba(0, 0, 0, 0.38);
    --PF-color-text-icon-on-background: rgba(0, 0, 0, 0.38);
    --PF-color-text-primary-on-light: rgba(0, 0, 0, 0.87);
    --PF-color-text-secondary-on-light: rgba(0, 0, 0, 0.54);
    --PF-color-text-hint-on-light: rgba(0, 0, 0, 0.38);
    --PF-color-text-disabled-on-light: rgba(0, 0, 0, 0.38);
    --PF-color-text-icon-on-light: rgba(0, 0, 0, 0.38);
    --PF-color-text-primary-on-dark: white;
    --PF-color-text-secondary-on-dark: rgba(255, 255, 255, 0.7);
    --PF-color-text-hint-on-dark: rgba(255, 255, 255, 0.5);
    --PF-color-text-disabled-on-dark: rgba(255, 255, 255, 0.5);
    --PF-color-text-icon-on-dark: rgba(255, 255, 255, 0.5);
}

:root .PF-dark, .PF-dark {
    --PF-color-primary: 138, 180, 248;
    --PF-color-surface: 28, 28, 30;
    --PF-color-on-surface: 255, 255, 255;
    --PF-color-background: 0, 0, 0;
}

:root .PFC-blue, .PFC-blue {
  --PF-color-primary: 33, 150, 243;
}

:root .PFC-red, .PFC-red {
  --PF-color-primary: 244, 64, 52;
}

:root .PFC-orange, .PFC-orange {
    --PF-color-primary: 255, 87, 34;
}

:root .PFC-meat, .PFC-meat {
    --PF-color-primary: 255, 125, 114;
}

:root .PFC-pink, .PFC-pink {
  --PF-color-primary: 233, 30, 99;
}

:root .PFC-green, .PFC-green {
  --PF-color-primary: 76, 175, 80;
}

:root .PFC-greenwater, .PFC-greenwater {
  --PF-color-primary: 0, 150, 136;
}

:root .PFC-yellow, .PFC-yellow {
  --PF-color-primary: 229, 125, 15;
}

:root .PFC-purple, .PFC-purple {
  --PF-color-primary: 163, 71, 244;
}

:root .PFC-brown, .PFC-brown {
  --PF-color-primary: 93, 64, 55;
}

:root .PFC-grey, .PFC-grey {
  --PF-color-primary: 128, 128, 128;
}

body:not(.PF-dark) .PFC-black:not(.PF-dark), body:not(.PF-dark) .PFC-black:not(.PF-dark) {
  --PF-color-primary: 0, 0, 0;
}

:root .PFC-black.PF-dark, .PFC-black.PF-dark {
  --PF-color-primary: 255, 255, 255;
}

/*DARK MODE*/
:root .PF-dark .PFC-blue, .PF-dark.PFC-blue, .PF-dark .PFC-blue {
  --PF-color-primary: 138, 180, 248;
}

:root .PF-dark .PFC-red, .PF-dark.PFC-red, .PF-dark .PFC-red {
  --PF-color-primary: 246, 174, 169;
}

:root .PF-dark .PFC-orange, .PF-dark.PFC-orange, .PF-dark .PFC-orange {
  --PF-color-primary: 255, 115, 71;
}

:root .PF-dark .PFC-meat, .PF-dark.PFC-meat, .PF-dark .PF-meat {
    --PF-color-primary: 255, 125, 114;
}

:root .PF-dark .PFC-pink, .PF-dark.PFC-pink, .PF-dark .PFC-pink {
  --PF-color-primary: 255, 174, 213;
}

:root .PF-dark .PFC-green, .PF-dark.PFC-green, .PF-dark .PFC-green {
  --PF-color-primary: 129, 201, 149;
}

:root .PF-dark .PFC-greenwater, .PF-dark.PFC-greenwater, .PF-dark .PFC-greenwater {
  --PF-color-primary: 169, 246, 229;
}

:root .PF-dark .PFC-yellow, .PF-dark.PFC-yellow, .PF-dark .PFC-yellow {
  --PF-color-primary: 253, 214, 99;
}

:root .PF-dark .PFC-purple, .PF-dark.PFC-purple, .PF-dark .PFC-purple {
  --PF-color-primary: 203, 169, 246;
}

:root .PF-dark .PFC-brown, .PF-dark.PFC-brown, .PF-dark .PFC-brown {
  --PF-color-primary: 250, 227, 207;
}

:root .PF-dark .PFC-grey, .PF-dark.PFC-grey, .PF-dark .PFC-grey {
  --PF-color-primary: 174, 203, 250;
}