
.PF-link {
	margin: .5rem;
	position: relative;
	width: calc(100% - 1rem);
	display: flex;
	flex-direction: column;
	border-radius: 1em;
	overflow: hidden;
	background: rgba(var(--PF-color-surface));
	color: rgb(var(--PF-color-on-surface));
}

.PF-link.flex {
	flex-direction: row;
}

.PF-link>.PF-image {
	height: 12em;
	background-color: rgba(var(--PF-color-primary), .5);
}

.PF-link.flex>.PF-image {
	min-width: 28%;
	flex: 1;
	height: initial;
}

.PF-link>.data {
	padding: .5rem;
}

.PF-link>.data>.source {
	padding: .5rem;
	padding-bottom: 0;
	opacity: .5;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: 2;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	word-break: break-word;
	text-transform: uppercase;
	font-size: 14px;
}

.PF-link>.data>h1 {
	margin: .5rem;
	font-size: 22px;
	font-weight: 900;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: 3;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	word-break: break-word
}

.PF-link>.data>p {
	margin: .5rem;
	font-size: 1rem;
	opacity: .6;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: 3;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	word-break: break-word
}

.PF-link>.data>h1+p {
	margin-top: 0;
}

.PF-link.flex>.data>p {
	display: none;
}
