.PF-pages {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.PF-page {
	border: solid 1px #ddd;
	max-width: 50em;
	margin: .5em auto;
	border-radius: 1em;
	min-height: 5em;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: calc(100% - 1em);
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.PF-page>header {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.PF-page>header>.info {
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	padding-top: 24px;
	padding-left: 24px;
	padding-right: 24px;
	padding-bottom: 8px;
}

.PF-page>header>.info>h1 {
	font-size: 1.375em;
	font-weight: 500;
	line-height: 1.75em;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	    hyphens: auto;
	word-break: break-word;
	word-wrap: break-word;
	color: rgb(var(--PF-color-on-surface));
}

.PF-page>header>.info>p {
	-webkit-box-flex: 1;
	box-flex: 1;
	-ms-flex-positive: 1;
	    flex-grow: 1;
	-ms-flex-negative: 1;
	    flex-shrink: 1;
	font-size: 1em;
	font-weight: 500;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	    hyphens: auto;
	word-break: break-word;
	word-wrap: break-word;
	color: rgba(var(--PF-color-on-surface), .95);
	margin: 0;
	/*padding: 8px 0 0 0;*/
}

.PF-page>.content {
	padding: 24px;
	padding-top: 0;
}

.PF-page>.content>p {
	line-height: 1.8em;
}

.PF-page>.content>p+p {
	padding-top: 10px;
}

.PF-page>.actions {
	width: 100%;
	padding-bottom: 18px;
	padding-top: 17px;
	padding-left: 24px;
	padding-right: 24px;
	border-top: solid 1px #ddd;
	border-radius: 0 0 1em 1em;
}


/*PAGE GRID INFO*/

.PF-page>.grid-info {
	padding: .5em 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.PF-page>.grid-info>.item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	padding: .5em;
	cursor: pointer;
	border-bottom: 1px solid #ddd;
}

.PF-page>.grid-info>.item:last-child {
	border-bottom: none;
}

.PF-page>.grid-info>.item:hover {
	background-color: rgba(var(--PF-color-on-surface), .05);
}

.PF-page>.grid-info>.item>.left,
.PF-page>.grid-info>.item>.right {
	padding: .5em;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.PF-page>.grid-info>.item>.left {
	min-width: 156px;
}

.PF-page>.grid-info:not(.list)>.item>.left>p {
	letter-spacing: .07272727em;
	font-size: .6875rem;
	font-weight: 500;
	line-height: 1rem;
	text-transform: uppercase;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	    hyphens: auto;
	word-break: break-word;
	word-wrap: break-word;
	color: #5f6368;
	margin: 0;
	padding: 0;
	width: 100%;
}

.PF-page>.grid-info>.item>.left>span {
	letter-spacing: .07272727em;
	font-size: .6875rem;
	font-weight: 500;
	line-height: 1rem;
	text-transform: uppercase;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	    hyphens: auto;
	word-break: break-word;
	word-wrap: break-word;
	color: rgba(var(--PF-color-on-surface), .8);
	margin: 0;
	padding: 0;
	width: 100%;
}

.PF-page>.grid-info>.item>.right {
	-webkit-box-flex: 1;
	    -ms-flex: 1 auto;
	        flex: 1 auto;
}

.PF-page>.grid-info>.item>.right>.double {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
}

.PF-page>.grid-info>.item>.right>.double>span {
	letter-spacing: .01428571em;
	font-size: .875rem;
	font-weight: 500;
	line-height: 1.25rem;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	    hyphens: auto;
	word-break: break-word;
	word-wrap: break-word;
	color: rgba(var(--PF-color-on-surface), .90);
	width: 100%;
}

.PF-page>.grid-info>.item>.right p {
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
}

.PF-page>.grid-info>.item>.right>.PF-avatar {
	width: 4em;
	height: 4em;
}

.PF-page>.grid-info.list>.item {
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.PF-page>.grid-info.list>.item>.left,
.PF-page>.grid-info.list>.item>.right {
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
}

.PF-page>.grid-info.list>.item>.left>i {
	margin-right: .5em;
}