.PF-radio {
    z-index: 0;
    position: relative;
    display: inline-block;
    color: rgba(var(--PF-color-on-surface, 0, 0, 0), 0.87);
    font-family: var(--PF-font, "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system);
    font-size: 16px;
    line-height: 1.5;
}

/* Input */
.PF-radio > input {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    z-index: -1;
    position: absolute;
    left: -10px;
    top: -8px;
    display: block;
    margin: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: rgba(var(--PF-color-on-surface, 0, 0, 0), 0.6);
    outline: none;
    opacity: 0;
    transform: scale(1);
    pointer-events: none;
    transition: opacity 0.3s, transform 0.2s;
}

/* Span */
.PF-radio > span {
    display: inline-block;
    width: 100%;
    cursor: pointer;
}

/* Circle */
.PF-radio > span::before {
    content: "";
    display: inline-block;
    box-sizing: border-box;
    margin: 2px 10px 2px 0;
    border: solid 2px; /* Safari */
    border-color: rgba(var(--PF-color-on-surface, 0, 0, 0), 0.6);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    vertical-align: top;
    transition: border-color 0.2s;
}

/* Check */
.PF-radio > span::after {
    content: "";
    display: block;
    position: absolute;
    top: 2px;
    left: 0;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: rgb(var(--PF-color-primary, 33, 150, 243));
    transform: translate(5px, 5px) scale(0);
    transition: transform 0.2s;
}

/* Checked */
.PF-radio > input:checked {
    background-color: rgb(var(--PF-color-primary, 33, 150, 243));
}

.PF-radio > input:checked + span::before {
    border-color: rgb(var(--PF-color-primary, 33, 150, 243));
}

.PF-radio > input:checked + span::after {
    transform: translate(5px, 5px) scale(1);
}

/* Hover, Focus */
.PF-radio:hover > input {
    opacity: 0.04;
}

.PF-radio > input:focus {
    opacity: 0.12;
}

.PF-radio:hover > input:focus {
    opacity: 0.16;
}

/* Active */
.PF-radio > input:active {
    opacity: 1;
    transform: scale(0);
    transition: transform 0s, opacity 0s;
}

.PF-radio > input:active + span::before {
    border-color: rgb(var(--PF-color-primary, 33, 150, 243));
}

/* Disabled */
.PF-radio > input:disabled {
    opacity: 0;
}

.PF-radio > input:disabled + span {
    color: rgba(var(--PF-color-on-surface, 0, 0, 0), 0.38);
    cursor: initial;
}

.PF-radio > input:disabled + span::before {
    border-color: currentColor;
}

.PF-radio > input:disabled + span::after {
    background-color: currentColor;
}
