.PF.ripple,
.PF.activeripple {
	overflow: hidden;
	transition: 0.5s;
	position: relative;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
}

.PF.ripple>.rippling {
	position: absolute;
	border-radius: 50%;
	background-color: rgb(var(--PF-color-primary));
	pointer-events: none;
	opacity: .4;
	transform: translate3d(-50%, -50%, 0);
	filter: blur(3px);
}