.PF-select {
    position: relative;
    display: inline-block;
    font-size: 17px;
    /*overflow: hidden;
     flex: 1 auto; */
    height: fit-content;
}

.PF-select>i {
	background: url("data:image/svg+xml;charset=utf-8,%3Csvg width='10' height='5' viewBox='7 10 10 5' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' opacity='.54' d='M7 10l5 5 5-5z'/%3E%3C/svg%3E") no-repeat 50%;
    left: auto;
    right: .5em;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 24px;
    height: 24px;
    -webkit-transition: -webkit-transform .15s cubic-bezier(.4,0,.2,1);
    transition: -webkit-transform .15s cubic-bezier(.4,0,.2,1);
    -o-transition: transform .15s cubic-bezier(.4,0,.2,1);
    transition: transform .15s cubic-bezier(.4,0,.2,1);
    transition: transform .15s cubic-bezier(.4,0,.2,1),-webkit-transform .15s cubic-bezier(.4,0,.2,1);
    pointer-events: none;
}

.PF-select select {
    display: block;
    box-sizing: border-box;
    margin: 0;
    border: none;
    border-top: solid 27px transparent;
    border-bottom: solid 1px rgba(var(--PF-color-on-surface, 0, 0, 0), 0.6);
    border-radius: 4px 4px 0 0;
    padding: 0 12px 10px;
    width: 100%;
    height: inherit;
    color: rgba(var(--PF-color-on-surface, 0, 0, 0), 0.87);
    background-color: rgba(var(--PF-color-on-surface, 0, 0, 0), 0.04);
    box-shadow: none;
    font-size: inherit;
    line-height: inherit;
    caret-color: rgb(var(--PF-color-primary, 33, 150, 243));
    transition: border-bottom 0.2s, background-color 0.2s;
    resize: none;
    flex: 1 auto;
    
    white-space: nowrap;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.PF-select select option:hover {
  background-color: rgba(222, 0, 123, 0.1);
}

.PF-select select option:checked {
  background-color: rgba(51, 51, 51, 0.1);
}

.PF-select select:focus {
  outline: none;
  color: rgb(var(--PF-color-primary));
}

.PF-select label {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    box-sizing: border-box;
    padding: 7px 12px 0;
    color: rgba(var(--PF-color-on-surface, 0, 0, 0), 0.6);
    font-size: 75%;
    line-height: 18px;
    pointer-events: none;
    transition: color 0.2s, font-size 0.2s, line-height 0.2s;
}

.PF-select label:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 2px;
    background-color: rgb(var(--PF-color-primary, 33, 150, 243));
    transform-origin: bottom center;
    transform: scaleX(0);
    transition: transform 0.3s;
}

.PF-select > select:focus + label::after {
    transform: scale(1);
}

.PF-select.is-checked-always,
.PF-select.is-checked {
  border-color: rgb(var(--PF-color-primary));
}

.PF-select.is-checked-always select,
.PF-select.is-checked select {
  color: black;
}

.PF-select.is-focused {
  border-color: #de007b;
  color: #333;
}

.PF-select.is-focused select, .PF-select.is-focused label {
  color: rgb(var(--PF-color-primary));
}

.PF-select:not(.is-focused):not(.is-checked) label {
    font-size: inherit;
    line-height: 48px;
}

.PF-select.is-error {
  border-color: red;
}

.PF-select.is-error select {
  color: red;
}

.PF-select.is-error label {
  color: red;
}

.PF-select.is-valid {
  border-color: rgb(var(--PF-color-primary));
}

.PF-select.is-valid select {
  color: rgb(var(--PF-color-primary));
}

.PF-select.is-valid label {
  color: rgb(var(--PF-color-primary));
}

.PF-select.is-approved {
  position: relative;
}
