.PF-sheet {
	display: flex;
	background-color: rgb(var(--PF-color-surface));
	height: 60%;
	width: 100%;
	position: -webkit-fixed;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 9991;
	transition: .2s;
	overflow: hidden;
	overflow-y: auto;
	will-change: transform;
	-webkit-overflow-scrolling: touch;
	user-select: none;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	box-shadow: 0px 1px 3px 1px rgba(60, 64, 67, .15);
	margin: auto;
	margin-bottom: 0;
	border-radius: 1em 1em 0 0;
	max-width: 100%;
	height: 60%;
  bottom: 0;
  left: 0;
  right: 0;
  top: initial;
  max-width: 80rem;
  border-radius: 1em 1em 0 0;
  transform: translateY(100%);
}

.PF-sheet.active {
  opacity: 1;
  transform: translateY(0%);
}

.PF-sheet.active.left {
  left: 0;
}

.PF-sheet.active.right {
  right: 0;
}

.PF-sheet .container {
  flex: 1 auto;
  overflow-y: auto;
  position: relative;
}

.PF-sheet .container .PF-image.head {
  min-height: 30%;
}

.PF-sheet .container .content {
  flex: 2 auto;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  min-height: 100vh;
}

.PF-sheet .PF-tabbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1;
  background-color: rgb(var(--PF-color-surface));
}

.PF-sheet .PF-tabbar .container {
  flex: 1 auto;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
}

.PF-sheet.player {
  height: fit-content;
  bottom: 0;
  left: 0;
  right: 0;
  top: initial;
  max-width: 100%;
  border-radius: 1em 1em 0 0;
  transform: translateY(calc(100% - 74px));
  overflow: initial;
}

.PF-sheet.player .slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  -webkit-appearance: none;
  width: calc(100% - 0.4rem);
  margin: 0 0.2rem;
}

.PF-sheet.player .slider[type=range]:focus {
  outline: none;
}

.PF-sheet.player .slider[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: rgb(var(--PF-color-surface));
  border-radius: 5px;
}

.PF-sheet.player .slider[type=range]::-webkit-slider-thumb {
  height: 1rem;
  width: 1rem;
  border-radius: 50px;
  background: rgb(var(--PF-color-primary));
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -0.4rem;
  transition: 0.5s;
  box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, .12), 0 1px 1px 0 rgba(0, 0, 0, .24);
}

.PF-sheet.player .slider:hover[type=range]::-webkit-slider-thumb {
  opacity: 9;
}

.PF-sheet.player .PF-toolbar .PF-image {
  width: 40px;
  flex: none;
  height: 40px;
  border-radius: 5px;
  overflow: hidden;
  margin: 0.5rem;
}