@keyframes playerdd-progress {
  to {
    background-position: 25px 0
  }
}

@keyframes playerdd-popup {
  0% {
    opacity: .5;
    transform: translateY(10px)
  }
  to {
    opacity: 1;
    transform: translateY(0)
  }
}

@keyframes playerdd-fade-in {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

.playerdd {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  direction: ltr;
  font-family: "Roboto", "Helvetica Neue", "Segoe UI", Helvetica, Arial, sans-serif;
  font-variant-numeric: tabular-nums;
  font-weight: 500;
  max-width: 100%;
  position: relative;
  text-shadow: none;
  transition: box-shadow .3s ease;
  display:flex;
  margin:auto;
}

.playerdd audio,
.playerdd video {
    border-radius: inherit;
    height: auto;
    vertical-align: middle;
    max-height: 100%;
    max-width: 100%;
    flex: 1 auto;
}

.playerdd audio {
  width: 100%;
}

.playerdd button {
  font: inherit;
  line-height: inherit
}

.playerdd:focus {
  outline: 0
}

.playerdd--full-ui {
  box-sizing: border-box
}

.playerdd--full-ui *,
.playerdd--full-ui ::after,
.playerdd--full-ui ::before {
  box-sizing: inherit
}

.playerdd--full-ui a,
.playerdd--full-ui button,
.playerdd--full-ui input,
.playerdd--full-ui label {
  touch-action: manipulation
}

.playerdd__badge {
    background: #FF5722;
    border-radius: 1em;
    color: #fff;
    font-size: 10px;
    padding: 2px 5px;
    font-weight: 900;
}

.playerdd--full-ui ::-webkit-media-text-track-container {
  display: none
}

.playerdd__captions {
  animation: playerdd-fade-in .3s ease;
  bottom: 0;
  color: #fff;
  display: none;
  font-size: 14px;
  left: 0;
  padding: 10px;
  position: absolute;
  text-align: center;
  transform: translateY(-40px);
  transition: transform .4s ease-in-out;
  width: 100%
}

.playerdd__captions span {
  background: rgba(0, 0, 0, .8);
  border-radius: 1em;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  line-height: 185%;
  padding: .2em .5em;
  white-space: pre-wrap
}

.playerdd__captions span div {
  display: inline
}

.playerdd__captions span:empty {
  display: none
}

@media (min-width:480px) {
  .playerdd__captions {
    font-size: 16px;
    padding: 20px
  }
}

@media (min-width:768px) {
  .playerdd__captions {
    font-size: 18px
  }
}

.playerdd--captions-active .playerdd__captions {
  display: block
}

.playerdd--hide-controls .playerdd__captions {
  transform: translateY(-15px)
}

.playerdd__control {
  background: 0 0;
  border: 0;
  border-radius: 1em;
  color: inherit;
  cursor: pointer;
  flex-shrink: 0;
  overflow: visible;
  padding: 7px;
  position: relative;
  transition: all .3s ease
}

.playerdd__control svg {
  display: block;
  fill: currentColor;
  height: 18px;
  pointer-events: none;
  width: 18px
}

.playerdd__control:focus {
  outline: 0
}

.playerdd__control.playerdd__tab-focus {
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.35);
  outline: 0
}

.playerdd__control[aria-pressed=false] .icon--pressed,
.playerdd__control[aria-pressed=false] .label--pressed,
.playerdd__control[aria-pressed=true] .icon--not-pressed,
.playerdd__control[aria-pressed=true] .label--not-pressed {
  display: none
}

.playerdd--audio .playerdd__control.playerdd__tab-focus,
.playerdd--audio .playerdd__control:hover,
.playerdd--audio .playerdd__control[aria-expanded=true] {
  background: #673ab7;
  color: #fff
}

.playerdd__control--overlaid {
  background: rgba(0, 0, 0, 0.55);
  border: 0;
  border-radius: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .15);
  color: #fff;
  display: none;
  left: 50%;
  padding: 15px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2
}

.playerdd__control--overlaid svg {
  height: 20px;
  left: 2px;
  position: relative;
  width: 20px
}

.playerdd__control--overlaid:focus,
.playerdd__control--overlaid:hover {
  background: #673ab7
}

.playerdd--playing .playerdd__control--overlaid {
  opacity: 0;
  visibility: hidden
}

.playerdd--full-ui.playerdd--video .playerdd__control--overlaid {
  display: block
}

.playerdd--full-ui ::-webkit-media-controls {
  display: none
}

.playerdd__controls {
  align-items: center;
  display: flex;
  text-align: center
}

.playerdd__controls .playerdd__menu,
.playerdd__controls .playerdd__progress,
.playerdd__controls .playerdd__time,
.playerdd__controls>.playerdd__control {
  margin-left: 5px
}

.playerdd__controls .playerdd__menu:first-child,
.playerdd__controls .playerdd__menu:first-child+[data-playerdd=pause],
.playerdd__controls .playerdd__progress:first-child,
.playerdd__controls .playerdd__progress:first-child+[data-playerdd=pause],
.playerdd__controls .playerdd__time:first-child,
.playerdd__controls .playerdd__time:first-child+[data-playerdd=pause],
.playerdd__controls>.playerdd__control:first-child,
.playerdd__controls>.playerdd__control:first-child+[data-playerdd=pause] {
  margin-left: 0
}

.playerdd__controls .playerdd__volume {
  margin-left: 5px
}

@media (min-width:480px) {
  .playerdd__controls .playerdd__menu,
  .playerdd__controls .playerdd__progress,
  .playerdd__controls .playerdd__time,
  .playerdd__controls>.playerdd__control {
    margin-left: 10px
  }
  .playerdd__controls .playerdd__menu+.playerdd__control,
  .playerdd__controls>.playerdd__control+.playerdd__control,
  .playerdd__controls>.playerdd__control+.playerdd__menu {
    margin-left: 5px
  }
}

.playerdd--video .playerdd__controls {
  background: linear-gradient(transparent, rgba(0, 0, 0, .7));
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  bottom: 0;
  color: #fff;
  left: 0;
  padding: 35px 10px 10px;
  position: absolute;
  right: 0;
  transition: opacity .4s ease-in-out, transform .4s ease-in-out;
  z-index: 2
}

.playerdd--video .playerdd__controls .playerdd__control svg {
  -webkit-filter: drop-shadow(0 1px 1px rgba(0, 0, 0, .15));
  filter: drop-shadow(0 1px 1px rgba(0, 0, 0, .15))
}

.playerdd--video .playerdd__controls .playerdd__control.playerdd__tab-focus,
.playerdd--video .playerdd__controls .playerdd__control:hover,
.playerdd--video .playerdd__controls .playerdd__control[aria-expanded=true] {
  background: rgba(0, 0, 0, 0.3);
  color: #fff
}

.playerdd--audio .playerdd__controls {
  background: #fff;
  border-radius: inherit;
  color: #4f5b5f;
  padding: 10px
}

.playerdd--video.playerdd--hide-controls .playerdd__controls {
  opacity: 0;
  pointer-events: none;
  transform: translateY(100%)
}

.playerdd [data-playerdd=airplay],
.playerdd [data-playerdd=captions],
.playerdd [data-playerdd=fullscreen],
.playerdd [data-playerdd=pip] {
  display: none
}

.playerdd--airplay-supported [data-playerdd=airplay],
.playerdd--captions-enabled [data-playerdd=captions],
.playerdd--fullscreen-enabled [data-playerdd=fullscreen],
.playerdd--pip-supported [data-playerdd=pip] {
  display: inline-block
}

.playerdd__menu {
  display: flex;
  position: relative
}

.playerdd__menu .playerdd__control svg {
  transition: transform .3s ease
}

.playerdd__menu .playerdd__control[aria-expanded=true] svg {
  transform: rotate(90deg)
}

.playerdd__menu .playerdd__control[aria-expanded=true] .playerdd__tooltip {
  display: none
}

.playerdd__menu__container {
    animation: playerdd-popup .2s ease;
    background: rgba(28,28,28,0.9);
    border-radius: 1em;
    bottom: 100%;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
    color: white;
    font-size: 16px;
    margin-bottom: 10px;
    position: absolute;
    right: -3px;
    text-align: left;
    white-space: nowrap;
    z-index: 3;
}

.playerdd__menu__container>div {
  overflow: hidden;
  transition: height .35s cubic-bezier(.4, 0, .2, 1), width .35s cubic-bezier(.4, 0, .2, 1)
}

.playerdd__menu__container::after {
  border: 4px solid transparent;
  border-top-color: rgba(28,28,28,0.9);
  content: '';
  height: 0;
  position: absolute;
  right: 15px;
  top: 100%;
  width: 0
}

.playerdd__menu__container ul {
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 7px
}

.playerdd__menu__container ul li {
  margin-top: 2px
}

.playerdd__menu__container ul li:first-child {
  margin-top: 0
}

.playerdd__menu__container .playerdd__control {
  align-items: center;
  color: white;
  display: flex;
  font-size: 14px;
  padding: 4px 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%
}

.playerdd__menu__container .playerdd__control::after {
  border: 4px solid transparent;
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%)
}

.playerdd__menu__container .playerdd__control--forward {
  padding-right: 28px
}

.playerdd__menu__container .playerdd__control--forward::after {
  border-left-color: white;
  right: 5px
}

.playerdd__menu__container .playerdd__control--forward.playerdd__tab-focus::after,
.playerdd__menu__container .playerdd__control--forward:hover::after {
  border-left-color: currentColor
}

.playerdd__menu__container .playerdd__control--back {
  font-weight: 500;
  margin: 7px;
  margin-bottom: 3px;
  padding-left: 28px;
  position: relative;
  width: calc(100% - 14px)
}

.playerdd__menu__container .playerdd__control--back::after {
  border-right-color: white;
  left: 7px
}

.playerdd__menu__container .playerdd__control--back::before {
  background: #b7c5cd;
  box-shadow: 0 1px 0 #fff;
  content: '';
  height: 1px;
  left: 0;
  margin-top: 4px;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 100%
}

.playerdd__menu__container .playerdd__control--back.playerdd__tab-focus::after,
.playerdd__menu__container .playerdd__control--back:hover::after {
  border-right-color: currentColor
}

.playerdd__menu__container label.playerdd__control {
  padding-left: 7px
}

.playerdd__menu__container label.playerdd__control input[type=radio]+span {
  background: rgba(0, 0, 0, .1);
  border-radius: 100%;
  display: block;
  flex-shrink: 0;
  height: 16px;
  margin-right: 10px;
  position: relative;
  transition: all .3s ease;
  width: 16px;
}

.playerdd__menu__container label.playerdd__control input[type=radio]+span::after {
  background: #fff;
  border-radius: 100%;
  content: '';
  height: 6px;
  left: 5px;
  opacity: 0;
  position: absolute;
  top: 5px;
  transform: scale(0);
  transition: transform .3s ease, opacity .3s ease;
  width: 6px;
}

.playerdd__menu__container label.playerdd__control input[type=radio]:checked+span {
  background: rgba(0, 0, 0, 0.3);
}

.playerdd__menu__container label.playerdd__control input[type=radio]:checked+span::after {
  opacity: 1;
  transform: scale(1);
}

.playerdd__menu__container label.playerdd__control input[type=radio]:focus+span {
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.35);
  outline: 0;
}

.playerdd__menu__container label.playerdd__control.playerdd__tab-focus input[type=radio]+span,
.playerdd__menu__container label.playerdd__control:hover input[type=radio]+span {
  background: rgba(0, 0, 0, .1)
}

.playerdd__menu__container .playerdd__menu__value {
  align-items: center;
  display: flex;
  margin-left: auto;
  margin-right: -7px;
  overflow: hidden;
  padding-left: 25px;
  pointer-events: none
}

.playerdd__progress {
  display: flex;
  flex: 1;
  position: relative
}

.playerdd__progress input[type=range] {
  position: relative;
  z-index: 2
}

.playerdd__progress .playerdd__tooltip {
  font-size: 14px;
  left: 0
}

.playerdd__progress--buffer {
  -webkit-appearance: none;
  background: 0 0;
  border: 0;
  border-radius: 100px;
  height: 6px;
  left: 0;
  margin: -3px 0 0;
  padding: 0;
  position: absolute;
  top: 50%;
  width: 100%
}

.playerdd__progress--buffer::-webkit-progress-bar {
  background: 0 0;
  transition: width .2s ease
}

.playerdd__progress--buffer::-webkit-progress-value {
  background: currentColor;
  border-radius: 100px;
  min-width: 6px
}

.playerdd__progress--buffer::-moz-progress-bar {
  background: currentColor;
  border-radius: 100px;
  min-width: 6px;
  transition: width .2s ease
}

.playerdd__progress--buffer::-ms-fill {
  border-radius: 100px;
  transition: width .2s ease
}

.playerdd--video .playerdd__progress--buffer {
  box-shadow: 0 1px 1px rgba(0, 0, 0, .15);
  color: rgba(255, 255, 255, .25)
}

.playerdd--audio .playerdd__progress--buffer {
  color: rgba(183, 197, 205, .66)
}

.playerdd--loading .playerdd__progress--buffer {
  animation: playerdd-progress 1s linear infinite;
  background-image: linear-gradient(-45deg, rgba(47, 52, 61, .6) 25%, transparent 25%, transparent 50%, rgba(47, 52, 61, .6) 50%, rgba(47, 52, 61, .6) 75%, transparent 75%, transparent);
  background-repeat: repeat-x;
  background-size: 25px 25px;
  color: transparent
}

.playerdd--video.playerdd--loading .playerdd__progress--buffer {
  background-color: rgba(255, 255, 255, .25)
}

.playerdd--audio.playerdd--loading .playerdd__progress--buffer {
  background-color: rgba(183, 197, 205, .66)
}

.playerdd--full-ui input[type=range] {
  -webkit-appearance: none;
  background: 0 0;
  border: 0;
  border-radius: 28px;
  color: #673ab7;
  display: block;
  height: 20px;
  margin: 0;
  padding: 0;
  transition: box-shadow .3s ease;
  width: 100%
}

.playerdd--full-ui input[type=range]::-webkit-slider-runnable-track {
  background: 0 0;
  border: 0;
  border-radius: 1em;
  height: 6px;
  transition: all .3s ease;
  -webkit-user-select: none;
  user-select: none;
  background-image: linear-gradient(to right, currentColor var(--value, 0), transparent var(--value, 0))
}

.playerdd--full-ui input[type=range]::-webkit-slider-thumb {
  background: #fff;
  border: 0;
  border-radius: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .15), 0 0 0 1px rgba(47, 52, 61, .2);
  box-sizing: border-box;
  height: 14px;
  position: relative;
  transition: all .2s ease;
  width: 14px;
  -webkit-appearance: none;
  margin-top: -4px
}

.playerdd--full-ui input[type=range]::-moz-range-track {
  background: 0 0;
  border: 0;
  border-radius: 1em;
  height: 6px;
  transition: all .3s ease;
  -moz-user-select: none;
  user-select: none
}

.playerdd--full-ui input[type=range]::-moz-range-thumb {
  background: #fff;
  border: 0;
  border-radius: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .15), 0 0 0 1px rgba(47, 52, 61, .2);
  box-sizing: border-box;
  height: 14px;
  position: relative;
  transition: all .2s ease;
  width: 14px
}

.playerdd--full-ui input[type=range]::-moz-range-progress {
  background: currentColor;
  border-radius: 1em;
  height: 6px
}

.playerdd--full-ui input[type=range]::-ms-track {
  background: 0 0;
  border: 0;
  border-radius: 1em;
  height: 6px;
  transition: all .3s ease;
  -ms-user-select: none;
  user-select: none;
  color: transparent
}

.playerdd--full-ui input[type=range]::-ms-fill-upper {
  background: 0 0;
  border: 0;
  border-radius: 1em;
  height: 6px;
  transition: all .3s ease;
  -ms-user-select: none;
  user-select: none
}

.playerdd--full-ui input[type=range]::-ms-fill-lower {
  background: 0 0;
  border: 0;
  border-radius: 1em;
  height: 6px;
  transition: all .3s ease;
  -ms-user-select: none;
  user-select: none;
  background: currentColor
}

.playerdd--full-ui input[type=range]::-ms-thumb {
  background: #fff;
  border: 0;
  border-radius: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .15), 0 0 0 1px rgba(47, 52, 61, .2);
  box-sizing: border-box;
  height: 14px;
  position: relative;
  transition: all .2s ease;
  width: 14px;
  margin-top: 0
}

.playerdd--full-ui input[type=range]::-ms-tooltip {
  display: none
}

.playerdd--full-ui input[type=range]:focus {
  outline: 0
}

.playerdd--full-ui input[type=range]::-moz-focus-outer {
  border: 0
}

.playerdd--full-ui input[type=range].playerdd__tab-focus::-webkit-slider-runnable-track {
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.35);
  outline: 0
}

.playerdd--full-ui input[type=range].playerdd__tab-focus::-moz-range-track {
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.35);
  outline: 0
}

.playerdd--full-ui input[type=range].playerdd__tab-focus::-ms-track {
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.35);
  outline: 0
}

.playerdd--full-ui.playerdd--video input[type=range]::-webkit-slider-runnable-track {
  background-color: rgba(255, 255, 255, .25)
}

.playerdd--full-ui.playerdd--video input[type=range]::-moz-range-track {
  background-color: rgba(255, 255, 255, .25)
}

.playerdd--full-ui.playerdd--video input[type=range]::-ms-track {
  background-color: rgba(255, 255, 255, .25)
}

.playerdd--full-ui.playerdd--video input[type=range]:active::-webkit-slider-thumb {
  box-shadow: 0 1px 1px rgba(0, 0, 0, .15), 0 0 0 1px rgba(47, 52, 61, .2), 0 0 0 3px rgba(255, 255, 255, .5)
}

.playerdd--full-ui.playerdd--video input[type=range]:active::-moz-range-thumb {
  box-shadow: 0 1px 1px rgba(0, 0, 0, .15), 0 0 0 1px rgba(47, 52, 61, .2), 0 0 0 3px rgba(255, 255, 255, .5)
}

.playerdd--full-ui.playerdd--video input[type=range]:active::-ms-thumb {
  box-shadow: 0 1px 1px rgba(0, 0, 0, .15), 0 0 0 1px rgba(47, 52, 61, .2), 0 0 0 3px rgba(255, 255, 255, .5)
}

.playerdd--full-ui.playerdd--audio input[type=range]::-webkit-slider-runnable-track {
  background-color: rgba(183, 197, 205, .66)
}

.playerdd--full-ui.playerdd--audio input[type=range]::-moz-range-track {
  background-color: rgba(183, 197, 205, .66)
}

.playerdd--full-ui.playerdd--audio input[type=range]::-ms-track {
  background-color: rgba(183, 197, 205, .66)
}

.playerdd--full-ui.playerdd--audio input[type=range]:active::-webkit-slider-thumb {
  box-shadow: 0 1px 1px rgba(0, 0, 0, .15), 0 0 0 1px rgba(47, 52, 61, .2), 0 0 0 3px rgba(0, 0, 0, .1)
}

.playerdd--full-ui.playerdd--audio input[type=range]:active::-moz-range-thumb {
  box-shadow: 0 1px 1px rgba(0, 0, 0, .15), 0 0 0 1px rgba(47, 52, 61, .2), 0 0 0 3px rgba(0, 0, 0, .1)
}

.playerdd--full-ui.playerdd--audio input[type=range]:active::-ms-thumb {
  box-shadow: 0 1px 1px rgba(0, 0, 0, .15), 0 0 0 1px rgba(47, 52, 61, .2), 0 0 0 3px rgba(0, 0, 0, .1)
}

.playerdd__time {
  font-size: 14px
}

.playerdd__time+.playerdd__time::before {
  content: '\2044';
  margin-right: 10px
}

@media (max-width:767px) {
  .playerdd__time+.playerdd__time {
    display: none
  }
}

.playerdd--video .playerdd__time {
  text-shadow: 0 1px 1px rgba(0, 0, 0, .15)
}

.playerdd__tooltip {
  background: rgba(255, 255, 255, .9);
  border-radius: 1em;
  bottom: 100%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
  color: #4f5b5f;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.3;
  margin-bottom: 10px;
  opacity: 0;
  padding: 5px 7.5px;
  pointer-events: none;
  position: absolute;
  transform: translate(-50%, 10px) scale(.8);
  transform-origin: 50% 100%;
  transition: transform .2s .1s ease, opacity .2s .1s ease;
  z-index: 2
}

.playerdd__tooltip::before {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid rgba(255, 255, 255, .9);
  bottom: -4px;
  content: '';
  height: 0;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 0;
  z-index: 2
}

.playerdd .playerdd__control.playerdd__tab-focus .playerdd__tooltip,
.playerdd .playerdd__control:hover .playerdd__tooltip,
.playerdd__tooltip--visible {
  opacity: 1;
  transform: translate(-50%, 0) scale(1)
}

.playerdd .playerdd__control:hover .playerdd__tooltip {
  z-index: 3
}

.playerdd__controls>.playerdd__control:first-child .playerdd__tooltip,
.playerdd__controls>.playerdd__control:first-child+.playerdd__control .playerdd__tooltip {
  left: 0;
  transform: translate(0, 10px) scale(.8);
  transform-origin: 0 100%
}

.playerdd__controls>.playerdd__control:first-child .playerdd__tooltip::before,
.playerdd__controls>.playerdd__control:first-child+.playerdd__control .playerdd__tooltip::before {
  left: 16px
}

.playerdd__controls>.playerdd__control:last-child .playerdd__tooltip {
  right: 0;
  transform: translate(0, 10px) scale(.8);
  transform-origin: 100% 100%
}

.playerdd__controls>.playerdd__control:last-child .playerdd__tooltip::before {
  left: auto;
  right: 16px;
  transform: translateX(50%)
}

.playerdd__controls>.playerdd__control:first-child .playerdd__tooltip--visible,
.playerdd__controls>.playerdd__control:first-child+.playerdd__control .playerdd__tooltip--visible,
.playerdd__controls>.playerdd__control:first-child+.playerdd__control.playerdd__tab-focus .playerdd__tooltip,
.playerdd__controls>.playerdd__control:first-child+.playerdd__control:hover .playerdd__tooltip,
.playerdd__controls>.playerdd__control:first-child.playerdd__tab-focus .playerdd__tooltip,
.playerdd__controls>.playerdd__control:first-child:hover .playerdd__tooltip,
.playerdd__controls>.playerdd__control:last-child .playerdd__tooltip--visible,
.playerdd__controls>.playerdd__control:last-child.playerdd__tab-focus .playerdd__tooltip,
.playerdd__controls>.playerdd__control:last-child:hover .playerdd__tooltip {
  transform: translate(0, 0) scale(1)
}

.playerdd--video {
  overflow: hidden;
}

.playerdd--video.playerdd--menu-open {
  overflow: visible;
}

.playerdd__video-wrapper {
background: #000;
    border-radius: inherit;
    overflow: hidden;
    position: relative;
    z-index: 0;
    width: fit-content;
    height: fit-content;
    max-height: 100%;
    max-width: 100%;
    margin: 0;
    flex: 1 auto;
    display: flex;
}

.playerdd__volume {
  flex: 1;
  position: relative
}

.playerdd__volume input[type=range] {
  position: relative;
  z-index: 2
}

@media (min-width:480px) {
  .playerdd__volume {
    max-width: 50px
  }
}

@media (min-width:768px) {
  .playerdd__volume {
    max-width: 80px
  }
}

.playerdd--is-ios .playerdd__volume,
.playerdd--is-ios [data-playerdd=mute] {
  display: none!important
}

.playerdd--has-error {
  pointer-events: none
}

.playerdd--has-error::after {
  align-items: center;
  background: #000;
  color: #fff;
  content: attr(data-playerdd-error);
  display: flex;
  font-size: 16px;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  text-align: center;
  text-shadow: 0 1px 1px #000;
  top: 0;
  width: 100%;
  z-index: 10
}

.playerdd:-webkit-full-screen, .playerdd:-moz-full-screen, .playerdd:-ms-fullscreen {
  background: #000;
  border-radius: 0!important;
  border: none!important;
  height: 100%;
  margin: 0;
  width: 100%
}

.playerdd__video-embed {
  height: 100%;
  width:100%;
  position: relative
}

.playerdd__video-embed iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: relative;
  top: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
}

.playerdd--full-ui .playerdd__video-embed iframe {
  pointer-events: none
}

.playerdd--full-ui .playerdd__video-embed>div {
  padding-bottom: 240%;
  position: relative;
  transform: translateY(-38.28125%)
}

.playerdd:fullscreen {
  background: #000;
  border-radius: 0!important;
  border: none!important;
  height: 100%;
  margin: 0;
  width: 100%
}

.playerdd:-webkit-full-screen video {
  height: 100%;
  width:100%;
}

.playerdd:-moz-full-screen video {
  height: 100%;
  width:100%;
}

.playerdd:-ms-fullscreen video {
  height: 100%;
  width:100%;
}

.playerdd:fullscreen video {
  height: 100%;
    width:100%;
}

.playerdd:-webkit-full-screen .playerdd__video-wrapper {
  height: 100%;
  width: 100%;
}

.playerdd:-moz-full-screen .playerdd__video-wrapper {
  height: 100%;
  width: 100%
}

.playerdd:-ms-fullscreen .playerdd__video-wrapper {
  height: 100%;
  width: 100%
}

.playerdd:fullscreen .playerdd__video-wrapper {
  height: 100%;
  width: 100%
}

.playerdd:-webkit-full-screen .playerdd__video-embed {
  overflow: visible
}

.playerdd:-moz-full-screen .playerdd__video-embed {
  overflow: visible
}

.playerdd:-ms-fullscreen .playerdd__video-embed {
  overflow: visible
}

.playerdd:fullscreen .playerdd__video-embed {
  overflow: visible
}

.playerdd:-webkit-full-screen.playerdd--vimeo .playerdd__video-wrapper {
  height: 0;
  top: 50%;
  transform: translateY(-50%)
}

.playerdd:-moz-full-screen.playerdd--vimeo .playerdd__video-wrapper {
  height: 0;
  top: 50%;
  transform: translateY(-50%)
}

.playerdd:-ms-fullscreen.playerdd--vimeo .playerdd__video-wrapper {
  height: 0;
  top: 50%;
  transform: translateY(-50%)
}

.playerdd:fullscreen.playerdd--vimeo .playerdd__video-wrapper {
  height: 0;
  top: 50%;
  transform: translateY(-50%)
}

.playerdd:-webkit-full-screen .playerdd__control .icon--exit-fullscreen {
  display: block
}

.playerdd:-moz-full-screen .playerdd__control .icon--exit-fullscreen {
  display: block
}

.playerdd:-ms-fullscreen .playerdd__control .icon--exit-fullscreen {
  display: block
}

.playerdd:fullscreen .playerdd__control .icon--exit-fullscreen {
  display: block
}

.playerdd:-webkit-full-screen .playerdd__control .icon--exit-fullscreen+svg {
  display: none
}

.playerdd:-moz-full-screen .playerdd__control .icon--exit-fullscreen+svg {
  display: none
}

.playerdd:-ms-fullscreen .playerdd__control .icon--exit-fullscreen+svg {
  display: none
}

.playerdd:fullscreen .playerdd__control .icon--exit-fullscreen+svg {
  display: none
}

.playerdd:-webkit-full-screen.playerdd--hide-controls {
  cursor: none
}

.playerdd:-moz-full-screen.playerdd--hide-controls {
  cursor: none
}

.playerdd:-ms-fullscreen.playerdd--hide-controls {
  cursor: none
}

.playerdd:fullscreen.playerdd--hide-controls {
  cursor: none
}

@media (min-width:1024px) {
  .playerdd:-webkit-full-screen .playerdd__captions {
    font-size: 21px
  }
  .playerdd:-moz-full-screen .playerdd__captions {
    font-size: 21px
  }
  .playerdd:-ms-fullscreen .playerdd__captions {
    font-size: 21px
  }
  .playerdd:fullscreen .playerdd__captions {
    font-size: 21px
  }
}

.playerdd:-webkit-full-screen {
  background: #000;
  border-radius: 0!important;
  border: none!important;
  height: 100%;
  margin: 0;
  width: 100%
}

.playerdd:-webkit-full-screen video {
  height: 100%
}

.playerdd:-webkit-full-screen .playerdd__video-wrapper {
  height: 100%;
  width: 100%
}

.playerdd:-webkit-full-screen .playerdd__video-embed {
  overflow: visible
}

.playerdd:-webkit-full-screen.playerdd--vimeo .playerdd__video-wrapper {
  height: 0;
  top: 50%;
  transform: translateY(-50%)
}

.playerdd:-webkit-full-screen .playerdd__control .icon--exit-fullscreen {
  display: block
}

.playerdd:-webkit-full-screen .playerdd__control .icon--exit-fullscreen+svg {
  display: none
}

.playerdd:-webkit-full-screen.playerdd--hide-controls {
  cursor: none
}

@media (min-width:1024px) {
  .playerdd:-webkit-full-screen .playerdd__captions {
    font-size: 21px
  }
}

.playerdd:-moz-full-screen {
  background: #000;
  border-radius: 0!important;
  height: 100%;
  margin: 0;
  width: 100%
}

.playerdd:-moz-full-screen video {
  height: 100%
}

.playerdd:-moz-full-screen .playerdd__video-wrapper {
  height: 100%;
  width: 100%
}

.playerdd:-moz-full-screen .playerdd__video-embed {
  overflow: visible
}

.playerdd:-moz-full-screen.playerdd--vimeo .playerdd__video-wrapper {
  height: 0;
  top: 50%;
  transform: translateY(-50%)
}

.playerdd:-moz-full-screen .playerdd__control .icon--exit-fullscreen {
  display: block
}

.playerdd:-moz-full-screen .playerdd__control .icon--exit-fullscreen+svg {
  display: none
}

.playerdd:-moz-full-screen.playerdd--hide-controls {
  cursor: none
}

@media (min-width:1024px) {
  .playerdd:-moz-full-screen .playerdd__captions {
    font-size: 21px
  }
}

.playerdd:-ms-fullscreen {
  background: #000;
  border-radius: 0!important;
  height: 100%;
  margin: 0;
  width: 100%
}

.playerdd:-ms-fullscreen video {
  height: 100%
}

.playerdd:-ms-fullscreen .playerdd__video-wrapper {
  height: 100%;
  width: 100%
}

.playerdd:-ms-fullscreen .playerdd__video-embed {
  overflow: visible
}

.playerdd:-ms-fullscreen.playerdd--vimeo .playerdd__video-wrapper {
  height: 0;
  top: 50%;
  transform: translateY(-50%)
}

.playerdd:-ms-fullscreen .playerdd__control .icon--exit-fullscreen {
  display: block
}

.playerdd:-ms-fullscreen .playerdd__control .icon--exit-fullscreen+svg {
  display: none
}

.playerdd:-ms-fullscreen.playerdd--hide-controls {
  cursor: none
}

@media (min-width:1024px) {
  .playerdd:-ms-fullscreen .playerdd__captions {
    font-size: 21px
  }
}

.playerdd--fullscreen-fallback {
  background: #000;
  border-radius: 0!important;
  height: 100%;
  margin: 0;
  width: 100%;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10000000
}

.playerdd--fullscreen-fallback video {
  height: 100%
}

.playerdd--fullscreen-fallback .playerdd__video-wrapper {
  height: 100%;
  width: 100%
}

.playerdd--fullscreen-fallback .playerdd__video-embed {
  overflow: visible
}

.playerdd--fullscreen-fallback.playerdd--vimeo .playerdd__video-wrapper {
  height: 0;
  top: 50%;
  transform: translateY(-50%)
}

.playerdd--fullscreen-fallback .playerdd__control .icon--exit-fullscreen {
  display: block
}

.playerdd--fullscreen-fallback .playerdd__control .icon--exit-fullscreen+svg {
  display: none
}

.playerdd--fullscreen-fallback.playerdd--hide-controls {
  cursor: none
}

@media (min-width:1024px) {
  .playerdd--fullscreen-fallback .playerdd__captions {
    font-size: 21px
  }
}

.playerdd__ads {
  border-radius: inherit;
  bottom: 0;
  cursor: pointer;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1
}

.playerdd__ads>div,
.playerdd__ads>div iframe {
  height: 100%;
  position: absolute;
  width: 100%
}

.playerdd__ads::after {
  background: rgba(47, 52, 61, .8);
  border-radius: 1em;
  bottom: 10px;
  color: #fff;
  content: attr(data-badge-text);
  font-size: 11px;
  padding: 2px 6px;
  pointer-events: none;
  position: absolute;
  right: 10px;
  z-index: 3
}

.playerdd__ads::after:empty {
  display: none
}

.playerdd__cues {
  background: currentColor;
  display: block;
  height: 6px;
  left: 0;
  margin: -3px 0 0;
  opacity: .8;
  position: absolute;
  top: 50%;
  width: 3px;
  z-index: 3
}

.playerdd--no-transition {
  transition: none!important
}

.playerdd__sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  border: 0!important;
  height: 1px!important;
  padding: 0!important;
  position: absolute!important;
  width: 1px!important
}