.fakefeed {
  max-width: calc(500px + 1em);
  padding: 0;
  width: 100%;
  margin: .5em auto;
  border-radius: 1em;
}

.fakefeed>.filters {
    padding: .5em;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.fakefeed>.filters>select {
    margin: auto;
    margin-right: 0;
    border-radius: 1em;
    border: none;
    padding: .5em;
    background-color: transparent;
    color: rgb(var(--PF-color-on-surface));
}

.fakefeed>.filters>select>option {
  color: rgb(var(--PF-color-on-surface));
  background-color: rgb(var(--PF-color-surface));
}

.fakefeed>.blocks>.block>.cards {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin: 0;
  margin-bottom: 1em;
  position: relative;
  border-radius: 1em;
  -webkit-box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.1);
  padding: .5em;
  padding-top: 1em;
}

.fakefeed>.blocks>.block>.cards:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.fakefeed>.blocks>.block>.cards:first-child,
.fakefeed>.blocks>.block>.cards:last-child {
  margin-top: 0;
}

.fakefeed>.blocks>.block>.toolbar {
padding: .5em;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    min-height: 3em;
    margin-bottom: -.5em;
}

.fakefeed>.blocks>.block>.toolbar .space {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.fakefeed>.blocks>.block>.toolbar .PF-icon.menu {
  position: absolute;
  right: 0;
}

.fakefeed>.blocks>.block>.toolbar h1 {
  padding: .4em .8em;
  -webkit-box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.1);
  font-size: 1em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  border-radius: 1.5em;
  cursor: pointer;
  background-color: rgb(var(--PF-color-surface));
  margin-bottom: -1.5em;
  z-index: 1;
}

.fakefeed>.blocks>.block>.cards>.card {
  width: 100%;
  border-radius: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  margin-bottom: .5em;
  -webkit-box-flex: 1;
      -ms-flex: 1 auto;
          flex: 1 auto;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  min-width: -webkit-min-content;
  min-width: -moz-min-content;
  min-width: min-content;
}

.fakefeed>.blocks>.block>.cards .card:first-child:before,
.fakefeed>.blocks>.block>.cards .card+.card:not(:last-child):before {
  position: absolute;
  bottom: 0;
  right: 0;
  top: auto;
  left: 0;
  z-index: 1;
  content: '';
  display: block;
  height: 1px;
  background-color: rgba(var(--PF-color-on-surface), .1);
  width: calc(100% - 1em);
  margin: auto;
}

.fakefeed>.blocks>.block>.cards .card:hover:before {
  background-color: transparent;
}

.fakefeed>.blocks>.block>.cards>.card:hover {
  -webkit-box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.1);
}

@media (min-width: 600px) {
  .fakefeed>.blocks>.block>.cards>.card:not(.mini):not(.skipformat):not([data-type='post']):not(: first-child):nth-child(-n+5) {
    width: calc(50% - 1em);
  }
  .fakefeed>.blocks>.block>.cards>.card:not(.mini):not(.skipformat):not([data-type='post']):not(:first-child):nth-child(-n+5):nth-child(2n) {
    margin-right: .5em;
  }
  .fakefeed>.blocks>.block>.cards>.card:not(.mini):not(.skipformat):not([data-type='post']):not(:first-child):nth-child(-n+5):nth-child(2n+1) {
    margin-left: .5em;
  }
}

.fakefeed>.blocks>.block>.cards:first-child>.card:not(.mini):first-child {
  width: 100%;
}


/*TOP*/

.fakefeed>.blocks>.block>.cards>.card>.top {
  padding: .5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fakefeed>.blocks>.block>.cards>.card>.top>.PF-avatar {
  width: 2em;
  height: 2em;
  margin: 0;
}

.fakefeed>.blocks>.block>.cards>.card>.top>.space {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.fakefeed>.blocks>.block>.cards>.card>.top>.data {
  padding: .5em;
}

.fakefeed>.blocks>.block>.cards>.card>.top>.PF-avatar + .data {
  padding: 0 .5em;
}

.fakefeed>.blocks>.block>.cards>.card>.top>.data>p {
  font-size: .9em;
}

.fakefeed>.blocks>.block>.cards>.card>.top>.data>span {
  font-size: .8em;
  color: #616161;
}


/*CONTENT*/

.fakefeed>.blocks>.block>.cards>.card>.content {
  padding: .5em;
  padding-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 auto;
          flex: 1 auto;
}

.fakefeed>.blocks>.block>.cards>.card>.content>.PF-image {
  width: calc(100% - 1em);
  border-radius: 1em;
  -webkit-box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.1);
  margin: .5em;
  margin-bottom: 0;
  border: solid 1px transparent;
  cursor: pointer;
}

.fakefeed>.blocks>.block>.cards>.card:hover>.content>.PF-image {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: #eee;
}

.fakefeed>.blocks>.block>.cards>.card>.content>.PF-image>img {
  max-height: 30em;
}

.fakefeed>.blocks>.block>.cards>.card>.content>.data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.fakefeed>.blocks>.block>.cards>.card>.content>.data>span {
  padding-top: 1em;
  font-size: 12px;
  word-break: break-word;
}

.fakefeed>.blocks>.block>.cards>.card>.content>.data>h1 {
  font-size: 20px;
  padding: .5em;
  word-break: break-word;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.fakefeed>.blocks>.block>.cards>.card h1:empty,
.fakefeed>.blocks>.block>.cards>.card p:empty,
.fakefeed>.blocks>.block>.cards>.card span:empty {
  display: none;
}

.fakefeed>.blocks>.block>.cards>.card>.content>.data>h1.verybig {
  font-size: 2.5em;
}

.fakefeed>.blocks>.block>.cards>.card>.content>.data>p {
  font-size: 1em;
  padding: .5em;
  line-height: 1.5em;
  word-break: break-word;
}


/*CONTENT LINK*/

.fakefeed>.blocks>.block>.cards>.card>.content>.link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-radius: 1em;
  overflow: hidden;
  border: solid 1px transparent;
  color: rgb(var(--PF-color-on-surface));
}

.fakefeed>.blocks>.block>.cards>.card:hover>.content>.link {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: #eee;
}

.fakefeed>.blocks>.block>.cards>.card>.content>.link>.PF-image {
  max-width: 10em;
}

.fakefeed>.blocks>.block>.cards>.card>.content>.link>.info {
  padding: 1em;
  -webkit-box-flex: 1;
      -ms-flex: 1 auto;
          flex: 1 auto;
}

.fakefeed>.blocks>.block>.cards>.card>.content>.link>.info>h1 {
  font-size: 1.4em;
}

.fakefeed>.blocks>.block>.cards>.card>.content>.link>.info>p {
  font-size: 1em;
}


/*FOOTER*/

.fakefeed>.blocks>.block>.cards>.card>.footer {
  padding: .5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fakefeed>.blocks>.block>.cards>.card>.footer>.PF-avatar {
  width: 2em;
  height: 2em;
  margin: 0;
}

.fakefeed>.blocks>.block>.cards>.card>.footer>.space {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.fakefeed>.blocks>.block>.cards>.card>.footer>.data {
  padding: .5em;
}

.fakefeed>.blocks>.block>.cards>.card>.footer>.PF-avatar + .data {
  padding: 0 .5em;
}

.fakefeed>.blocks>.block>.cards>.card>.footer>.data>p {
  font-size: .9em;
}

.fakefeed>.blocks>.block>.cards>.card>.footer>.data>span {
  font-size: .8em;
  color: #616161;
}


/*CARD MINI*/

.fakefeed>.blocks>.block>.cards>.card.mini>.content {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.fakefeed>.blocks>.block>.cards>.card.mini>.content>.data {
  padding-right: 1em;
}


/*FULLCOVERAGE*/

.fakefeed>.blocks>.block>.cards>.fullcoverage {
  width: calc(100% - 1em);
  border-radius: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  margin-bottom: .5em;
  -webkit-box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: .5em;
}

.fakefeed>.blocks>.block>.cards>.fullcoverage>.content {
  width: 100%;
  height: 15em;
  background: rgb(var(--PF-color-primary, 33, 150, 243), 0.20);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.fakefeed>.blocks>.block>.cards>.fullcoverage>.content>.pages {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.fakefeed>.blocks>.block>.cards>.fullcoverage>.content>.progress-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: .5em;
  cursor: pointer;
}

.fakefeed>.blocks>.block>.cards>.fullcoverage>.content>.progress-container .PF-progress {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border-radius: 1em;
  margin: 0 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fakefeed>.blocks>.block>.cards>.fullcoverage>.button {
  width: 100%;
  text-align: center;
  font-size: 1.2em;
  padding: 1em;
  cursor: pointer;
}