.feed {
  text-align: left;
  top: 0;
  left: 0;
  max-width: 32rem;
  margin: auto;
}

.feed>.new-post-smallform {
  padding: .5em;
  display: flex;
  align-items: center;
  border-radius: 1em;
}

.feed>.new-post-smallform>p {
  padding: .5em;
  text-align: left;
  flex: 1 auto;
  font-size: 1.2em;
}

.feed>.filters {
    padding: .5em;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.feed>.filters>select {
    margin: auto;
    margin-right: 0;
    border-radius: 1em;
    border: none;
    padding: .5em;
    background-color: transparent;
    color: rgb(var(--PF-color-on-surface));
}

.feed>.filters>select>option {
  color: rgb(var(--PF-color-on-surface));
  background-color: rgb(var(--PF-color-surface));
}

.feed .block > .PF-toolbar {
  border-radius: 1em 1em 0em 0em;
  margin: 0.5rem;
  margin-bottom: 0;
  width: calc(100% - 1rem);
  display: none;
}

.feed.shadow .block > .PF-toolbar {
  margin: 0;
  width: 100%;
  display: flex;
}

.feed.shadow .block > .PF-toolbar > .topic {
  padding: .5em .8em;
  border-radius: 1.5em;
  margin: auto;
}

.feed .PF-toolbar .PF-icon {
  color: rgb(var(--PF-color-primary));
}

.feed .block {
  margin: 0.5rem 0;
  width: 100%;
  display: inline-block;
}

.feed.shadow .block {
  -webkit-box-shadow: 0px 1px 3px 1px rgba(60, 64, 67, .15);
          box-shadow: 0px 1px 3px 1px rgba(60, 64, 67, .15);
  background-color: rgb(var(--PF-color-surface));
  border-radius: 1.5em;
}

.feed .cards.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.feed .cards.wrap .PF-card {
  margin: 0.5rem;
  width: 14rem;
  -webkit-box-flex: 1;
  -ms-flex: 1 auto;
  flex: 1 auto;
}

@-webkit-keyframes loading {
  0% {
    background-position-x: -800px;
  }
}

@keyframes loading {
  0% {
    background-position-x: -800px;
  }
}

.feed .placeholder .p01 {
  background-color: transparent;
  border: 11px solid rgb(var(--PF-color-surface));
  border-radius: 50%;
  left: -10px;
  top: -10px;
  position: absolute;
  height: 58px;
  width: 58px;
}

.feed .placeholder .p02 {
  height: 48px;
  left: 40px;
  right: auto;
  top: 0;
  background-color: rgb(var(--PF-color-surface));
  width: 8px;
  position: absolute;
}

.feed .placeholder .p04 {
  background-color: rgb(var(--PF-color-surface));
  position: absolute;
  top: 0;
  left: 48px;
  height: 8px;
  right: 0;
}

.feed .placeholder .p05 {
  background-color: rgb(var(--PF-color-surface));
  position: absolute;
  top: 8px;
  right: 0;
  left: 136px;
  height: 6px;
}

.feed .placeholder .p06 {
  background-color: rgb(var(--PF-color-surface));
  position: absolute;
  height: 13px;
  right: 0;
  left: 48px;
  top: 13px;
}

.feed .placeholder .p07 {
  background-color: rgb(var(--PF-color-surface));
  position: absolute;
  top: 26px;
  right: 0;
  left: 100px;
  height: 6px;
}

.feed .placeholder .p08 {
  background-color: rgb(var(--PF-color-surface));
  position: absolute;
  height: 10px;
  right: 0;
  left: 48px;
  top: 32px;
}

.feed .placeholder .p09 {
  height: 20px;
  right: 0;
  left: 0;
  position: absolute;
  background-color: rgb(var(--PF-color-surface));
  top: 42px;
}

.feed .placeholder .p11 {
  position: absolute;
  background-color: rgb(var(--PF-color-surface));
  right: 0;
  top: 62px;
  left: 410px;
  height: 6px;
}

.feed .placeholder .p12 {
  background-color: rgb(var(--PF-color-surface));
  position: absolute;
  right: 0;
  left: 0;
  height: 13px;
  top: 68px;
}

.feed .placeholder .p13 {
  position: absolute;
  background: rgb(var(--PF-color-surface));
  right: 0;
  top: 81px;
  left: 375px;
  height: 6px;
}

.feed .placeholder .p14 {
  background-color: rgb(var(--PF-color-surface));
  position: absolute;
  right: 0;
  left: 0;
  height: 13px;
  top: 86px;
}

.feed .placeholder .fp15 {
  position: absolute;
  background-color: rgb(var(--PF-color-surface));
  right: 0;
  top: 98px;
  left: 275px;
  height: 6px;
}


.feed .post .togglshow {
  position: relative;
  color: #3f51b5;
  font-size: 14px;
  margin-left: 4px;
  white-space: nowrap;
}

.feed .post .togglshow:hover {
  text-decoration: underline;
}

.feed .post .ellipses {
  margin-right: 4px;
}

.feed .post > p {
  margin: 1em 0;
}

.feed .post, .feed .placeholder {
  position: relative;
  border: solid 1px #ddd;
  background-color: rgb(var(--PF-color-surface));
  border-radius: 1em;
  margin: 0.5rem 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.feed.shadow .cards:first-child > .post:first-child {
  border: none;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

.feed.shadow .post {
    border: none;
    border-top: solid 1px #ddd;
    border-radius: 0;
    margin: 0;
    width: 100%;
}

.feed.shadow .cards:not(:first-child)>.post,
.feed.shadow>.post:not(:first-child) {
  border-top: solid 1px rgba(var(--PF-color-on-surface), .1);
  border-radius: 0;
}

.feed.shadow .PF-toolbar+.cards>.post {
  border-top: solid 1px rgba(var(--PF-color-on-surface), .1);
}

.feed.shadow .cards>.post:last-child {
  margin-bottom: 0;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}

.feed .post .content .post {
    margin: 0.5rem;
    width: calc(100% - 1rem);
    border-radius: 1em;
    border: solid 1px #ddd;
  overflow:hidden;
}

.feed .post .content .post .container_post .content .texto {
  margin-top:0;
}

.feed .post .content .post .down,
.feed .post .content .post .reactions,
.feed .post .content .post .menuicon,
.feed .post .content .post .repostbutton {
  display:none;
}

.feed .block .post b {
    font-weight:900;
}

.feed .placeholder .timeline {
  background-color: rgb(var(--PF-color-surface));
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 2;
  padding: 0.8rem;
  overflow: hidden;
  border-radius: 1em;
}

.feed .placeholder .animated-bg {
  height: 104px;
  overflow: hidden;
  background: -webkit-gradient(linear, left top, right top, from(#f6f7f9), color-stop(20%, #e9ebee), color-stop(40%, #f6f7f9), to(#f6f7f9));
  background: -webkit-linear-gradient(to right, rgba(var(--PF-color-primary), 0.1) 0%, #ffffff 20%, rgba(var(--PF-color-primary), 0.1) 40%, rgba(var(--PF-color-primary), 0.1) 100%);
  background: -o-linear-gradient(to right, rgba(var(--PF-color-primary), 0.1) 0%, #ffffff 20%, rgba(var(--PF-color-primary), 0.1) 40%, rgba(var(--PF-color-primary), 0.1) 100%);
  background: -webkit-gradient(linear, left top, right top, from(rgba(var(--PF-color-primary), 0.1)), color-stop(20%, #ffffff), color-stop(40%, rgba(var(--PF-color-primary), 0.1)), to(rgba(var(--PF-color-primary), 0.1)));
  background: -webkit-linear-gradient(left, rgba(var(--PF-color-primary), 0.1) 0%, #ffffff 20%, rgba(var(--PF-color-primary), 0.1) 40%, rgba(var(--PF-color-primary), 0.1) 100%);
  background: -o-linear-gradient(left, rgba(var(--PF-color-primary), 0.1) 0%, #ffffff 20%, rgba(var(--PF-color-primary), 0.1) 40%, rgba(var(--PF-color-primary), 0.1) 100%);
  background: linear-gradient(to right, rgba(var(--PF-color-primary), 0.1) 0%, #ffffff 20%, rgba(var(--PF-color-primary), 0.1) 40%, rgba(var(--PF-color-primary), 0.1) 100%);
  background-size: 800px 104px;
  -webkit-animation: loading 1s linear infinite forwards;
  animation: loading 1s linear infinite forwards;
  position: relative;
}

.feed .post .container_post {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.feed .post .top {
  font-size: 13px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  padding: 0.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feed .post .top a:hover {
  text-decoration: underline;
}

.feed .post .top .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 auto;
          flex: 1 auto;
  vertical-align: middle;
}

.feed .post .lke:before {
  color: #5890ff;
  font-weight: bold
}

.feed .post .top .avatar {
  margin-right: 0.5rem;
  cursor: pointer;
  border-radius: 2em;
  display: inline-block;
  min-width: 2.2rem;
  height: 2.2rem;
  background-size: cover;
  background-position: center;
  background-color: white;
  border: 1px solid #ddd;
  position: relative;
}

.feed .post .top .avatar:before {
  content: '';
    background-color: #42b72a;
    border: 2px solid #fff;
    border-radius: 10em;
    height: 10px;
    left: 78%;
    position: absolute;
    top: 68%;
    width: 10px;
}

.feed .post .top .time {
  font-weight: 400;
  margin-right: 0.5rem;
  color: #90949c;
}

.feed .post .top .user {
  font-weight: 500;
  display: inline-block;
  cursor: pointer;
}

.feed .post .top .ca {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #90949c;
  font-size: 11px;
}

.feed .post .top .ca i {
  font-size: 1em;
}

.feed .post .container_post .content {
  width: 100%;
  position: relative;
}

.feed .post .container_post .content .texto {
  margin: 0.5rem;
  width: calc(100% - 1rem);
  position: relative;
  padding: 0.5rem;
  word-break: break-word;
  /* white-space: pre-line; */
  white-space: unset;
}

.feed .post .container_post .content .texto * {
  word-break: break-word;
  /* white-space: pre-line; */
  white-space: unset;
}

.feed .post.large-text > .container_post > .content > .texto {
  font-size: 20px;
}

.feed .post.biglarge-text > .container_post > .content > .texto {
  font-size: 50px;
}

.feed .post.large-text.bg .container_post .content .texto {
  background-color: #5890ff;
  background: -webkit-gradient(linear, right bottom, left top, from(#c66bd8), to(#3427ae));
  background: -webkit-linear-gradient(right bottom, #c66bd8, #3427ae);
  background: -o-linear-gradient(right bottom, #c66bd8, #3427ae);
  background: linear-gradient(to left top, #c66bd8, #3427ae);
  margin: 0.5rem 0;
  width: 100%;
  font-size: 1.5rem;
  padding: 2.5rem;
  color: white;
  border-radius: 1em;
}

/*GRADIENT*/

.feed .post .container_post .content .texto:before {
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #fff 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(255, 255, 255, 0)), to(#fff));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0, #fff 100%);
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0, #fff 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #fff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=0);
  width: 100%;
  height: 41px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  display: none;
}

.feed .post .container_post .content .media {
    width: calc(100% - 1em);
    border-radius: 1em;
    margin: .5em;
    overflow: hidden;
}

.feed .post .container_post .content .media img,
.feed .post .container_post .content .media iframe {
  width: 100%;
}

.feed .post .container_post .content .media .portada_post {
  width: 100%;
  height: 30vw;
  max-height: 12rem;
  background-size: cover;
  background-position: center;
  position: relative;
  margin-bottom: 3rem;
  background-color: white;
}

.feed .post .container_post .content .media .portada_post .avatar_post {
  width: calc(6rem - 8px);
  height: calc(6rem - 8px);
  border-radius: 50px;
  background-position: center;
  background-size: cover;
  position: absolute;
  left: 1rem;
  bottom: -2.5rem;
  border: solid white 5px;
  background-color: white;
}

.feed .post .container_post .content .media .avatar_only_post {
  background: -webkit-radial-gradient(at 0 0, #2196F3 0, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 0) 100%), -webkit-radial-gradient(170% 0, circle, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0) 39%, #00BCD4 77%, #E91E63 92%, #F44336 100%), -webkit-linear-gradient(315deg, #2196F3 0, #2196F3 24%, #9C27B0 100%);
  background: -o-radial-gradient(at 0 0, #2196F3 0, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 0) 100%), -o-radial-gradient(170% 0, circle, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0) 39%, #00BCD4 77%, #E91E63 92%, #F44336 100%), -o-linear-gradient(315deg, #2196F3 0, #2196F3 24%, #9C27B0 100%);
  background: radial-gradient(at 0 0, #2196F3 0, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 0) 100%), radial-gradient(circle at 170% 0, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0) 39%, #00BCD4 77%, #E91E63 92%, #F44336 100%), linear-gradient(135deg, #2196F3 0, #2196F3 24%, #9C27B0 100%);
  width: calc(100% - 1rem);
  margin: 0.5rem;
  background-size: cover;
  background-position: center;
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 1em;
  padding: 1rem;
}

.feed .post .container_post .content .media .avatar_only_post .sub_avatar_post {
  width: 10rem;
  height: 10rem;
  border-radius: 10em;
  background-position: center;
  background-size: cover;
  margin: auto;
  border: 6px solid white;
  background-color: white;
}

.feed .post .status {
  color: #737373;
  font-weight: 400;
}

.feed .post .container_post > p {
  font-size: 16px;
  font-weight: normal;
}

.feed .post .dots {
  position: relative;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: 64px 346px;
  background-position: 0 -132px;
  height: 20px;
  width: 20px;
  -webkit-transition: .2s ease;
  -o-transition: .2s ease;
  transition: .2s ease
}

.feed .post .dots:hover {
  background-position: -22px -132px;
}

.feed .post .seprator {
  border-bottom: 1px solid #e9ebee;
  margin: 5px 7px 6px;
  padding-top: 1px;
}

.feed .post .postActions {
  color: #6d84b4;
  margin: 12px 0px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.feed .post .postActions .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}

.feed .post .postActions .button:hover {
  border-radius: 1em;
  background-color: #f9f7f7;
}

.posts .post.posttiporepost .content .body .postActions .button.share {
  display: none;
}

.posts .post.posttiporepost .content .post .content .body .postActions .button.share {
  display: block;
}

.feed .post .postActions a {
  color: #616770;
  font-size: 13px;
  font-weight: 900;
  padding: 0.5rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

.feed .post .postActions a b {
  font-weight: 500;
}


.feed .post .comments {
  position: relative;
}

.feed .post .comments li {
  padding: 0 0.5rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
}

.feed .post .comments li.me {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  text-align: right;
}

.feed .post .comments li .PF-avatar {
  min-width: 30px;
  width: 30px;
  height: 30px;
  margin: 0;
}

.feed .post .comments li .commentBody {
  margin: 0 0.5rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 auto;
          flex: 1 auto;
}

.feed .post .comments li.me .commentBody {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.feed .post .comments li .commentBody .message {
  padding: 0.5rem;
  font-size: 13px;
  border-radius: 1rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: rgb(var(--PF-color-primary));
  background: rgba(var(--PF-color-primary), 0.1);
  max-width: 60%;
  word-break: break-word;
  white-space: unset;
}

.feed .post .comments li .commentBody .date {
  font-size: 11px;
  padding: 0.5rem;
  padding-top: 0;
  color: rgb(var(--PF-color-primary));
}

.feed .post .lop-0,
.feed .post .lop-1,
.feed .post .lop-2,
.feed .post .lop-3 {
  background-image: url(https://goo.gl/PM1ia3);
  background-repeat: no-repeat;
  background-size: auto;
  display: inline-block;
  width: 16px;
  height: 16px;
}

.feed .post .lop-0,
.feed .post .lop-1,
.feed .post .lop-2 {
  -webkit-transition: .2s ease;
  -o-transition: .2s ease;
  transition: .2s ease
}

.feed .post .lop-0 {
  background-size: 64px 346px;
  background-position: 0 -224px;
}

.feed .post .lop-0:hover {
  background-position: -18px -224px;
}

.feed .post .lop-1 {
  background-size: 64px 346px;
  background-position: -18px -206px;
}

.feed .post .lop-1:hover {
  background-position: -36px -206px;
}

.feed .post .lop-2 {
  background-size: 64px 346px;
  background-position: 0px -188px;
}

.feed .post .lop-2:hover {
  background-size: 64px 346px;
  background-position: -18px -188px;
}

.feed .post .lop-3 {
  background-size: 64px 346px;
  background-position: -36px -188px;
}

.feed .post .lop-3:hover {
  background-position: 0px -206px;
}

.feed .post .tolip {
  background-color: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  padding: 5px;
  border-radius: 0.5em;
  position: absolute;
  right: 0;
  bottom: 36px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  z-index: 2;
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
  display: inline-block;
}

.feed .post .tolip:after {
  left: 0;
  right: 0;
  position: relative;
  font-size: 13px;
  font-weight: 600;
  text-align: center;
  -webkit-transition: .2s ease;
  -o-transition: .2s ease;
  transition: .2s ease;
  padding: 0;
  display: inline-block;
  text-align: left;
}

.feed .post .stickers>a:hover~.tolip:after {
  padding: 5px;
}

.feed .post .stickers>a:hover~.tolip {
  opacity: 1;
  visibility: visible;
}

.feed .post .stickers a:first-child:hover~.tolip:after {
  content: 'Insert an reactions'
}

.feed .post .stickers a:nth-child(2):hover~.tolip:after {
  content: 'Post a photo'
}

.feed .post .stickers a:nth-child(3):hover~.tolip:after {
  content: 'Post a GIF'
}

.feed .post .stickers a:nth-child(4):hover~.tolip:after {
  content: 'Post a sticker'
}


/*LINK*/
.feed .post .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-radius: 1em;
  overflow: hidden;
  border: solid 1px transparent;
  color: rgb(var(--PF-color-on-surface));
  width: fit-content;
  text-align: left;
  max-width: calc(100% - 1em);
  margin: .5em;
}

.feed .post .link.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feed .post .link .imagen_link {
    background-color: var(--PF-color-bg-third-default);
    flex: 1 auto;
    max-width: 8em;
    background-size: cover;
    background-position: center;
    height: 100%;
    max-height: 10rem;
    min-width: 4em;
}

.feed .post .link.flex .imagen_link {
  max-width: 10rem;
}

.feed .post .link .imagen_link {
  height: initial;
  max-height: none;
}

.feed .post .link .imagen_link img {
  /*width: 100%;*/
  max-height: 20rem;
  height: auto;
  opacity: 0;
}

.feed .post .link .info_link {
  padding: 0.5rem;
}

.feed .post .link .info_link h1 {
  font-size: 18px;
  padding: 0.5rem;
  width: 100%;
  font-weight: 500;
  color: inherit;
}

.feed .post .link .info_link p {
  font-size: 14px;
  padding: 0.5rem;
  margin: 0;
  width: 100%;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  word-wrap: break-word;
  font-weight: 400;
  padding-bottom: 0;
  text-transform: uppercase;
  color: inherit;
}




.feed .post:hover .link {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: #eee;
}

.feed .post .link>.PF-image {
  max-width: 10em;
}

.feed .post .link>.info {
  padding: 1em;
  -webkit-box-flex: 1;
      -ms-flex: 1 auto;
          flex: 1 auto;
}

.feed .post .link>.info>h1 {
  font-size: 1.4em;
}

.feed .post .link>.info>p {
  font-size: 1em;
}

/*SMART CARDS*/

.feed .post.smart-card {
  padding: 0.5rem;
  width: 100%;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  color: black;
  position: relative;
  overflow: hidden;
  display: none!important;
}

.feed .post.smart-card.with-logo::after {
  content: ' ';
  background-image: url('//img.kaana.io/logo/logo_white.png');
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  padding: 1rem;
  background-size: contain;
  cursor: pointer;
}

.feed .post.smart-card .titulo {
  font-size: 1rem;
  padding: 0.5rem;
}

.feed .post.smart-card .cards {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  overflow: auto;
}

.feed .post.smart-card .cards::-webkit-scrollbar {
  display: none!important;
}

.feed .post.smart-card .cards .card {
  font-size: 1rem;
  background: #fff;
  min-width: 9.6rem;
  margin: 0.2rem;
  border-radius: 1em;
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  overflow: hidden;
}

.feed .post.smart-card .cards .card .imagen {
  width: 100%;
  padding-bottom: 100%;
  background-position: center;
  background-size: cover;
  background-color: #263238;
}

.feed .post.smart-card .cards .card .info {
  padding: 0.5rem;
}

.feed .post.smart-card .cards .card .info h1 {
  width: 100%;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  overflow: hidden;
  font-size: 0.9rem;
  font-weight: 100;
  padding: 0.5rem;
}

.feed .post.smart-card .cards .card .imagen .mini {
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.78), rgba(0, 0, 0, 0));
  color: white;
  padding: 0.5rem;
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
}

.feed .post.smart-card .cards .card .imagen .mini p {
  padding-left: 0.5rem;
  color: white;
}

.feed .post.smart-card .cards .card .imagen .mini img {
  max-height: 1.5rem;
  max-width: 3rem;
}

.feed .post.smart-card .cards .card .info a.boton {
  background: #f3f3f3;
  width: calc(100% - 1rem);
  display: inline-block;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  white-space: nowrap;
  background-color: #f6f7f9;
  color: #4b4f56;
  border: 1px solid;
  border-radius: 1em;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  font-size: 12px;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 8px;
  position: relative;
  text-align: center;
  text-shadow: none;
  vertical-align: middle;
  line-height: 22px;
  letter-spacing: inherit;
  border-color: #ced0d4;
}

/*EXPLOREFEED*/

.feed .post.smart-card.explorefeed {
  padding-top: 12rem;
  background-image: url(//img.kaana.io/smart-card/explorefeed.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% auto;
  text-align: center;
}

.feed .post.smart-card.explorefeed button {
  padding: 0.5rem 1rem;
  background: #fe7431;
  color: white;
  border: none;
  border-radius: 2em;
  font-size: 1rem;
  margin: 0.5rem;
  cursor: pointer;
  margin: auto;
  font-weight: 900;
}

/*EXPLORAYDISFRUTA*/

.feed .post.smart-card.exploraydisfruta {
  padding-top: 11rem;
  background-image: url(//img.kaana.io/smart-card/exploraydisfruta.png?w=400);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% auto;
  text-align: center;
  background-color: #2869d3;
}

.feed .post.smart-card.exploraydisfruta .bloque {
  border-radius: 5em;
  background: rgb(92, 140, 219);
  display: inline-block;
  padding: 1rem 2rem;
  color: #ffffff;
  margin-bottom: 1rem;
}

.feed .post.smart-card.exploraydisfruta .bloque h1 {
  margin: auto;
  font-size: 1.5rem;
}

.feed .post.smart-card.exploraydisfruta .bloque p {
  margin: auto;
  font-size: 1rem;
  font-weight: 100;
}

.feed .post.smart-card.exploraydisfruta img {
  width: 5rem;
  height: 5rem;
  margin-top: -9rem;
  margin-bottom: 0.5rem;
  border-radius: 5em;
  display: none;
}

.feed .post.smart-card.exploraydisfruta .post.smart-card {
  border: none;
  background-color: transparent;
  margin-bottom: 0;
}

.feed .post.smart-card.exploraydisfruta .post.smart-card .titulo {
  color: #204984;
}

/*FELIZNAVIDAD*/

.feed .post.smart-card.feliznavidad {
  padding: 0;
  width: 100%;
}

.feed .post.smart-card.feliznavidad h1 {
  padding: 1rem;
  width: 100%;
}

.feed .post.smart-card.feliznavidad .bottomc {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.feed .post.smart-card.feliznavidad button.normal {
  padding: 0.5rem 1rem;
  background: #e91e63;
  color: white;
  border: none;
  border-radius: 2em;
  font-size: 1rem;
  margin: 0.5rem;
  cursor: pointer;
}

.feed .post.smart-card.feliznavidad button.absolutesuperior {
  padding: 0.5rem 1rem;
  background: rgba(0, 0, 0, 0.55);
  color: white;
  border: none;
  border-radius: 2em;
  font-size: 14px;
  margin: 0.5rem;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
}

/*CUMPLEANOS*/

.feed .post.smart-card.cumpleanos {
  padding-top: 10rem;
  background-image: url(//img.kaana.io/smart-card/cumpleanos.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% auto;
}

.feed .post.smart-card.cumpleanos h1 {
  padding: 0.5rem;
  font-size: 2rem;
  font-family: Product Sans;
  font-weight: 100;
}

.feed .post.smart-card.cumpleanos button {
  padding: 0.5rem 1rem;
  background: rebeccapurple;
  color: white;
  border: none;
  border-radius: 2em;
  font-size: 1rem;
  margin: 0.5rem;
  cursor: pointer;
}

/*NEWYEAR*/

.feed .post.smart-card.newyear {
  padding-top: 12.5rem;
  background-image: url(//img.kaana.io/smart-card/newyear.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% auto;
}

.feed .post.smart-card.newyear h1 {
  padding: 0.5rem;
  font-size: 2rem;
  font-family: Product Sans;
  font-weight: 100;
}

.feed .post.smart-card.newyear button {
  padding: 0.5rem 1rem;
  background: rebeccapurple;
  color: white;
  border: none;
  border-radius: 2em;
  font-size: 1rem;
  margin: 0.5rem;
  cursor: pointer;
}

/*SANTJORDI*/

.feed .post.smart-card.santjordi {
  padding-top: 15rem;
  background-image: url(//img.kaana.io/smart-card/santjordi.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% auto;
}

.feed .post.smart-card.santjordi h1 {
  padding: 0.5rem;
  font-size: 2rem;
  font-family: Product Sans;
  font-weight: 100;
}

.feed .post.smart-card.santjordi button {
  padding: 0.5rem 1rem;
  background: rebeccapurple;
  color: white;
  border: none;
  border-radius: 2em;
  font-size: 1rem;
  margin: 0.5rem;
  cursor: pointer;
}

/*BUENOS DIAS*/

.feed .post.smart-card.buenosdias,
.feed .post.smart-card.buenastardes,
.feed .post.smart-card.buenasnoches {
  width: 100%;
  padding: 1rem;
  background-position: center right 1rem;
  background-size: 3rem;
  background-repeat: no-repeat;
}

.feed .post.smart-card.buenosdias {
  background-image: url('//img.kaana.io/smart-card/buenosdias.gif');
}

.feed .post.smart-card.buenastardes {
  background-image: url('//img.kaana.io/smart-card/buenastardes.gif');
}

.feed .post.smart-card.buenasnoches {
  background-image: url('//img.kaana.io/smart-card/buenasnoches.gif');
}

.feed .post.smart-card.buenosdias h1,
.feed .post.smart-card.buenastardes h1,
.feed .post.smart-card.buenasnoches h1 {
  font-size: 1.2rem;
}

/*EXPLORAFEED*/

.feed .post.smart-card.explorahashtags {
  padding: 0;
  width: 100%;
}

.feed .post.smart-card.explorahashtags .titulo {
  padding: 1rem;
  padding-bottom: 0rem;
  color: black;
}

.feed .post.smart-card.explorahashtags .hashtags {
  -webkit-column-count: 2;
          column-count: 2;
  -webkit-column-gap: 0;
          column-gap: 0;
  display: block;
  border-bottom: none;
  overflow: hidden;
  background: white;
  padding: 10px;
}

.feed .post.smart-card.explorahashtags .hashtags .hashtag {
  text-align: center;
  padding: 0.5rem;
  display: inline-block;
  width: calc(100% - 1rem);
  font-size: 1rem;
  color: black;
  border: solid 1px #ddd;
  cursor: pointer;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  overflow: hidden;
  border-radius: 2em;
  margin: 0.5rem;
  font-weight: 900;
}

/*NOTICIAS*/

.feed .post.smart-card.noticias .cards .card {
  min-height: 9.5rem;
  min-width: 16rem;
}

.feed .post.smart-card.noticias .cards .card .imagen {
  padding-bottom: calc(100% - 8rem);
}

.feed .post.smart-card.noticias .cards .card .imagen .mini {
  background: white;
}

.feed .post.smart-card.noticias .cards .card .imagen .mini p {
  color: black;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.feed .post.smart-card.noticias .cards .card .imagen .mini .fuenteinfo {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  margin-left: 0;
}

.feed .post.smart-card.noticias .cards .card .imagen .mini .follow-button {
  margin-right: 0;
}

.feed .post.smart-card.noticias .cards .card .info {
  padding: 0.8rem;
  border-top: solid 1px #ddd;
}

.feed .post.smart-card.noticias .cards .card .info h1 {
  font-size: 0.9rem;
  width: calc(100% - 1rem);
  padding: 0;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-height: 1.4rem;
  white-space: inherit;
  margin: 0;
  min-height: 4rem;
  font-weight: 900;
}

/*PLACEHOLDER CARD*/

.feed .placeholder {
  min-height: 10rem;
  border: none;
  border-radius:1em;
}

.feed .post .more-less {
  margin-right: .5em;
}