.highlight {
	font-weight: 500;
	font-size: 18px;
	color: rgb(var(--PF-color-on-surface));
	border-radius: 2em;
	background: rgb(var(--PF-color-surface));
	position: fixed;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	z-index: 999;
	box-shadow: 0 1px 3px 1px rgba(60, 64, 67, .15);
	display: none;
	align-items: center;
	padding: 0;
	overflow: hidden;
}

.highlight .content::-webkit-scrollbar {
	display: none
}

.highlight .content {
	margin: auto;
	display: flex;
	overflow: auto
}

.highlight li {
	padding: 0 .5em;
	align-items: center;
	display: inline-flex;
	font-size: 1rem;
	cursor: pointer;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	border-left: solid 1px rgba(var(--PF-color-on-surface), .1);
	min-width: fit-content
}

.highlight li .PF-icon {
	background-color: transparent;
	color: rgb(var(--PF-color-on-surface))
}

.highlight li:hover {
	background: rgba(var(--PF-color-primary), .1)
}

.highlight li .PF-image {
	width: 1.5rem;
	height: 1.5rem;
	border-radius: 20px;
	background-position: center;
	background-size: cover;
	margin: .5em
}

.highlight li span {
	padding: .5em;
	padding-left: 0;
	font-weight: 500
}

.highlight span.logo_highlight {
	min-height: 2rem;
	min-width: 2rem;
	padding: 0;
	margin: auto;
	margin-left: .3rem;
	background-position: 0 center;
	background-size: contain;
	background-image: url(//img.kaana.io/logo/logo.svg);
	background-repeat: no-repeat;
	border-left: none;
	margin-right: .3rem
}

@media (max-width:30em) {
	.highlight {
		top: inherit!important;
		bottom: 0!important;
		left: 0!important;
		right: 0!important;
		border-radius: 1em 1em 0 0;
		text-align: center
	}
}