[reactionsdd] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -ms-flex: 1 auto;
    margin: auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    border-radius: 1em;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    margin: .5em 0;
    padding: 0 .5em;
    width: 100%;
}

[reactionsdd]:hover {
	overflow: visible
}

[reactionsdd]:empty {
	display: none
}

[reactionsdd] .PF-chip {
	margin: 0;
	padding: .2em;
	height: initial;
	border: none;
}

[reactionsdd] .PF-chip:not(.me){
	background-color: rgba(var(--PF-color-on-surface), .05);
}

[reactionsdd] .PF-chip+.PF-chip {
	margin-left: .5rem;
}

[reactionsdd] .PF-chip:last-child {
	margin-right: .5rem;
}

[reactionsdd] .PF-chip:focus {
	-webkit-box-shadow: 0 1px 3px 1px rgba(60, 64, 67, .15);
	box-shadow: 0 1px 3px 1px rgba(60, 64, 67, .15)
}

.PF-chip[reactionsdd] i,
[reactionsdd] .PF-chip i {
	margin: .2em;
	font-size: 12px
}

[reactionsdd] .PF-chip p {
	padding: 0 .5em;
	font-size: 14px;
	padding-left: 0
}