@font-face {
  font-family: 'Kaana Sans';
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  src: url(../fuentes/Circular-std/Medium.woff2);
  /* For IE6-8 */
  src: local('Kaana Sans'), local('KaanaSansMedium'), url(../fuentes/Circular-std/Medium.woff2) format('woff2'), url(../fuentes/Circular-std/Medium.woff) format('woff'), url(../fuentes/Circular-std/Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Kaana Sans';
  font-display: auto;
  font-style: normal;
  font-weight: 500;
  src: url(../fuentes/Circular-std/Medium.woff2);
  /* For IE6-8 */
  src: local('Kaana Sans'), local('KaanaSansMedium'), url(../fuentes/Circular-std/Medium.woff2) format('woff2'), url(../fuentes/Circular-std/Medium.woff) format('woff'), url(../fuentes/Circular-std/Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Kaana Sans';
  font-display: auto;
  font-style: normal;
  font-weight: 600;
  src: url(../fuentes/Circular-std/Bold.woff2);
  /* For IE6-8 */
  src: local('Kaana Sans'), local('KaanaSansBold'), url(../fuentes/Circular-std/Bold.woff2) format('woff2'), url(../fuentes/Circular-std/Bold.woff) format('woff'), url(../fuentes/Circular-std/Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Material Icons';
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  src: url(../fuentes/MaterialIcons/MaterialIcons-Regular.woff2);
  /* For IE6-8 */
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(../fuentes/MaterialIcons/MaterialIcons-Regular.woff2) format('woff2'), url(../fuentes/MaterialIcons/MaterialIcons-Regular.woff) format('woff'), url(../fuentes/MaterialIcons/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  -webkit-font-feature-settings: 'liga';
  font-feature-settings: 'liga';
}

.material-icons.bd {
  stroke-linejoin: round;
  -webkit-text-fill-color: rgba(0, 0, 0, 0.1);
  -webkit-text-stroke-width: 2px;
}

@font-face {
  font-display: auto;
  src: url(../fuentes/KaanaEmojis.ttf);
  font-family: Kaana Emojis;
}

.emoji {
  width: auto!important;
  height: 1em;
  display: inline-block;
  margin-bottom: -.2em;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  text-indent: -9999px;
  font-family: 'Kaana Emojis', 'Kaana Sans', 'Roboto', sans-serif;
  cursor: text;
}

*:not(i),
:after,
:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /*font-family: Kaana Sans, Roboto, Helvetica Neue, Segoe UI, Helvetica, Arial, Lucida Grande, Kaana Emojis, sans-serif;
  line-height: 1.2em;
  font-weight: 500;
  */
  outline: none;
  text-decoration: none;
  list-style-type: none;
  image-rendering: optimizeSpeed;
  image-orientation: 0deg;
  word-break: break-word;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-family: Kaana Sans, Kaana Emojis, Helvetica Neue, Segoe UI, Helvetica, Arial, Lucida Grande, sans-serif;
  font-weight: 400;
  letter-spacing: -0.76px;
  direction: ltr;
  line-height: 1.35;
  -webkit-font-smoothing: antialiased;
  word-break: break-word;
}

*::-moz-selection {
  background: rgba(var(--PF-color-primary), 0.30);
  color: rgb(var(--PF-color-primary));
  fill: rgb(var(--PF-color-primary));
}

*::selection {
  background: rgba(var(--PF-color-primary), 0.30);
  color: rgb(var(--PF-color-primary));
  fill: rgb(var(--PF-color-primary));
}

h1 {
  font-weight: 500;
}

b {
  font-weight: 900;
}

*::-webkit-scrollbar-track {
  background-color: rgba(var(--PF-color-on-surface), .2);
}

*::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  border-radius: 1em;
}

*::-webkit-scrollbar {
  width: 5px;
}

html {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-direction: column;
  min-height: 100%;
}

body {
  color: rgb(var(--PF-color-on-surface));
  background-color: rgb(var(--PF-color-surface));
  overflow-x: hidden;
  /*overflow-y: scroll;*/
  overflow-y: auto;
  /*cursor: url('/imgs/logo/logo.ico'), default;*/
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 100%;
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
}

*::-webkit-scrollbar {
    display: none;
}

html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .004);
}

.wrapper {
  width: 100%;
}

.wrapper .contenedor {
  width: 100%;
  margin: 0 auto;
}

@-webkit-keyframes fadeOutScreen {
  from {
    opacity: 1;
    /*-webkit-transform: translate3d(0, 0%, 0);
    transform: translate3d(0, 0%, 0);*/
  }
  to {
    opacity: 0;
    /*-webkit-transform: translate3d(0, 20%, 0);
    transform: translate3d(0, 20%, 0);*/
  }
}

@keyframes fadeOutScreen {
  from {
    opacity: 1;
    /*-webkit-transform: translate3d(0, 0%, 0);
    transform: translate3d(0, 0%, 0);*/
  }
  to {
    opacity: 0;
    /*-webkit-transform: translate3d(0, 20%, 0);
    transform: translate3d(0, 20%, 0);*/
  }
}

@-webkit-keyframes fadeInScreen {
  from {
    opacity: 0;
    /*-webkit-transform: translate3d(0, 20%, 0);
    transform: translate3d(0, 20%, 0);*/
  }
  to {
    opacity: 1;
    /*-webkit-transform: translate3d(0, 0%, 0);
    transform: translate3d(0, 0%, 0);*/
  }
}

@keyframes fadeInScreen {
  from {
    opacity: 0;
    /*ebkit-transform: translate3d(0, 20%, 0);
    transform: translate3d(0, 20%, 0);*/
  }
  to {
    opacity: 1;
    /*webkit-transform: translate3d(0, 0%, 0);
    transform: translate3d(0, 0%, 0);*/
  }
}

.wrapper .contenedor .dd_screen {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-name: fadeInScreen;
  animation-name: fadeInScreen;
  display: inline-block;
  width: 100%;
}

.wrapper .contenedor .dd_screen.out {
  -webkit-animation-name: fadeOutScreen;
  animation-name: fadeOutScreen;
}

.logo.logoicono {
  display: none;
  padding: 12px;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  font-size: 2rem;
  background-image: url('//img.kaana.io/logo/logo.png');
  width: 2rem;
  background-position: center;
  background-size: cover;
  height: 2rem;
  min-width: 2rem;
}

a {
  text-decoration: none;
  color: rgb(var(--PF-color-primary));
  font-weight: 600;
  cursor: pointer;
}

.aligncenter {
  text-align: center;
}

.centro {
  text-align: center;
  width: calc(100% - 2rem);
  margin: auto;
}

@media (max-width: 75em) {
  * {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  }
  .logoA {
    height: 2.8rem;
    overflow: hidden;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: white;
    border-radius: 50px;
  }
  .logoA .logoicono {
    display: block!important;
  }
  .logoA .logotexto {
    display: none!important;
  }
  .header .bloque_header_2 {
    display: none!important;
  }
  .header .bloque_header_3 {
    padding: 0;
  }
  .header .bloque_header_3 .buscar {
    display: block;
  }
}


/*TELEVISOR O PANTALLA GRANDE*/

@media screen and (min-width: 1280px) {}


/*PORTATIL Y ORDENADOR*/

@media screen and (max-width: 1280px) and (min-width: 1024px) {}


/*TABLET*/

@media screen and (max-width: 1024px) and (min-width: 450px) {
  .header .bloque_header_1 {
    margin-right: 1rem;
  }
  .header .bloque_header_3 .buscar {
    display: block;
  }
  .ddnow_cards {
    display: block!important;
    column-count: 1!important;
    -webkit-column-count: 1!important;
    -moz-column-count: 1!important;
    background: transparent!important;
  }
}


/*MOBIL*/

@media screen and (max-width: 450px) {
  .header .header_sub_app_name {
    display: none;
  }
  .menuvisible {
    max-width: 100%!important;
  }
  .aplicaciones {
    display: none!important;
  }
}


/*REMOVE GOOGLE TRANSLATE*/

#gtx-trans {
  display: none!important;
}

.jfk-bubble {
  display: none!important;
}


/*REMOVE GOOGLE TRANSLATE*/

.overflowhidden {
  position: relative;
  /*height: 100%;*/
  overflow: hidden!important;
}

.PF-toolbar .PF-button.follow-button {
  margin: auto 0.5rem;
}

.follow-button .inside {
  display: -ms-inline-flexbox;
  display: -webkit-inline-box;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.follow-button .inside .texto {
  font-weight: 500;
  padding: 0.5rem 1rem;
}

.follow-button .inside .texto span {
  font-weight: 500;
}

.follow-button .inside .PF-icon+.texto {
  padding-left: 0;
}

.follow-button .inside .texto+.PF-icon {
  margin-left: -1rem;
}

.follow-button .inside .imagen {
  width: 2em;
  height: 2em;
  background: #eee;
  border-radius: 1em;
  margin: 5px;
  background-size: cover;
  background-position: center;
}

.follow-button .inside .imagen+.texto {
  padding-left: 0.2rem;
}

.startmenucontenedor {
  display: none;
}

.startmenucontenedorvisible {
  display: block;
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome and Opera */
}

.geoonly {
  display: none!important;
}

.text.pride {
  background: -webkit-gradient(linear, left top, right top, from(#ef2f53), color-stop(16%, #ef6226), color-stop(33%, #f1f42e), color-stop(50%, #94d328), color-stop(67%, #26b3cc), color-stop(83%, #3d43e5), to(#8a37ce)) center center/cover;
  background: -webkit-linear-gradient(left, #ef2f53 0%, #ef6226 16%, #f1f42e 33%, #94d328 50%, #26b3cc 67%, #3d43e5 83%, #8a37ce 100%) center center/cover;
  background: -o-linear-gradient(left, #ef2f53 0%, #ef6226 16%, #f1f42e 33%, #94d328 50%, #26b3cc 67%, #3d43e5 83%, #8a37ce 100%) center center/cover;
  background: linear-gradient(to right, #ef2f53 0%, #ef6226 16%, #f1f42e 33%, #94d328 50%, #26b3cc 67%, #3d43e5 83%, #8a37ce 100%) center center/cover;
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ef2f53', endColorstr='#8a37ce', GradientType=1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
}

body,
#bodydos,
#contenedorbody,
.wrapper,
.wrapper .contenedor,
.wrapper .contenedor .dd_screen {
  display: flex;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex: 1 auto;
  flex: 1 auto;
}

.side-menu-overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(var(--PF-color-background), .8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9989;
  opacity: 0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  pointer-events: none;
}

.side-menu-overlay.white {
  background-color: rgba(255, 255, 255, .5);
}

.side-menu-overlay.show {
  opacity: 9;
  pointer-events: initial;
}

.opendd,
[opendd-href] {
  cursor: pointer;
}

.selectable,
.selectable *,
[selectable],
[selectable] * {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}


/*DDCOIN*/

.ddcoin-symbol {
  width: 1.2em;
  height: 1.2em;
  margin-bottom: .1em;
  margin-left: -0.2em;
  margin-right: -.5em;
  background-image: url(//kaana.io/imgs/DDCoin/symbol.svg);
  background-position: center;
  background-size: contain;
}


.PF-avatar[story]:not(img)::after {
    content: " ";
    background-image: url(//img.kaana.io/backgrounds/online.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 120%;
    height: 120%;
    position: absolute;
    left: -10%;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    z-index: 1;
}

.PF-avatar[online]:not(img)::before {
    content: " ";
    width: 25%;
    height: 25%;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: auto;
    z-index: 1;
    background: #4fca1c;
    border-radius: 10em;
    border: solid 2px rgba(var(--PF-color-surface));
}