
#meditate-container {
    position: relative;
    padding: 1em;
    font-size: 34px;
    margin: auto;
    border-radius: 1em;
}

#circles-container {
  position: relative;
  margin: 0 auto;
  width: 130px;
  height: 130px;
}

#circles-container svg {
  fill: rgb(var(--PF-color-surface))!important;
}

#animating-circle {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 2px solid rgba(66, 133, 244, 0);
  background-color: rgba(var(--PF-color-primary), .9);
  opacity: 1;
  cursor: pointer;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.25);
}

#static-circle {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 2px solid rgba(66, 133, 244, 0);
  background-color: rgba(var(--PF-color-primary), .2);
  opacity: 1;
}

#play-btn {
  border: 1px solid transparent;
  position: absolute;
  top: 18px;
  left: 18px;
  width: 96px;
  height: 96px;
  cursor: pointer;
  pointer-events: none;
}

#restart-btn {
  width: 64px;
  height: 64px;
  position: absolute;
  top: 33px;
  left: 33px;
  opacity: 0;
  cursor: pointer;
  pointer-events: none;
}

#fullscreen-btn {
  cursor: pointer;
  position: absolute;
  font-size: 20px;
  right: 36px;
  font-weight: 400;
}

#close-btn {
  cursor: pointer;
  transition: opacity 100ms ease-out;
  margin-left: auto;
}

#text-wrapper {
  width: 100%;
  margin-top: 16px;
  font-size: 18px;
  position: relative;
}

.breathe-text, #header-text, #preroll-text {
  color: rgb(var(--PF-color-on-surface));
  text-align: center;
  width: 100%;
  font-size: 2em;
}

.breathe-text, #preroll-text {
  position: absolute;
  top: 0;
  opacity: 0;
}

/** ---------- Breathing Exercise Animations ---------- **/

/**
 * The animation for the breathing exercise consists of two stages. In the first
 * stage we show a (preroll) guiding text aksing the user to bring their
 * awareness to their breath. This stage lasts 5 secs. The second stage consists
 * of a repeated number of breathing cycles, where each breath cycle consists
 * of an inhale and an exhale. The length of a breath cycle is 10 seconds. The
 * number of breathing cycles is 6. Therefore, in total the animation for the
 * breathing exercise lasts 65 seconds.
 *
 * Notes:
 *
 * - The breathing exercise starts with an inhale and ends with an exhale.
 * - The breathing circle is used both as the play button and and as a visual
 * indicator for the movement of a breath cycle. In order to transition from the
 * first to the latter, we play a shrinking animation on the circle during
 * the first stage. That animation is not intended to guide the user to inhale
 * or exhale for the duration while the circle is shrinking. Its sole purpose is
 * to have a user friendly transition from the play button state to the first
 * inhalation.
 */

#animating-circle {
  transition: box-shadow 90ms;
}

#play-btn, #restart-btn, #header-text {
  transition: opacity ease-in 250ms;
}

@keyframes grow {
  0% {
    transform: scaleX(1) scaleY(1);
  }
  46% {
    transform: scaleX(0.10) scaleY(0.10);
  }
  50% {
    transform: scaleX(0.10) scaleY(0.10);
  }
  96% {
    transform: scaleX(1) scaleY(1);
  }
  100% {
    transform: scaleX(1) scaleY(1);
  }
}

@keyframes fade-out-then-in {
  0% {
    opacity: 0;
  }
  11% {
    opacity: 1;
  }
  23% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade-in-then-out {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  61% {
    opacity: 1;
  }
  73% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.breathing-anim-initialized #header-text,
.breathing-anim-playing #header-text,
.breathing-anim-initialized #play-btn,
.breathing-anim-playing #play-btn,
.breathing-anim-restart #play-btn {
  opacity: 0;
}

.breathing-anim-initialized #animating-circle,
.breathing-anim-playing #animating-circle {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0);
  cursor: none;
}

/**
 * In order to approxmimate a natural breathing rhythm of the animation, we
 * are using a custom animation timing function that is somewhat in-between
 * ease-in-out and linear.
 */
.breathing-anim-playing #animating-circle {
  animation: grow cubic-bezier(0.425, 0.250, 0.595, 0.785) 10s infinite;
}

/**
 * The breathing exercise starts with a 5s introductory (preroll) guiding
 * text, hence we are starting the animations for the breathe in/out text with
 * a 5s delay.
 */
.breathing-anim-playing #breathe-text-in {
  animation: fade-out-then-in 10s 5s ease-out forwards infinite;
}

.breathing-anim-playing #breathe-text-out {
   animation: fade-in-then-out 10s 5s ease-out forwards infinite;
}

.breathing-anim-playing #preroll-text {
   animation: fade-out-then-in 10s 0s ease-out forwards;
}

.breathing-anim-restart #animating-circle {
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

/* NOTE(ibrahim): We specify an explicit 150ms delay in order for the */
/* header text and the restart icon not to jump in too suddenly when the */
/* breathing animation finishes. */
.breathing-anim-restart #restart-btn,
.breathing-anim-restart #header-text {
  opacity: 1;
  transition: opacity ease-in 250ms 150ms;
}
